<form [formGroup]="userForm" (submit)="saveUser()" novalidate>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0 border-bottom-0">
        <div class="card-header bg-primary">
          <i class="fa fa-user"></i> Account Information
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label for="user_first_name" class="col-md-2 col-sm-4 form-control-label">First Name</label>
            <div class="col-md-4 col-sm-8">
              <input type="text" class="form-control" id="user_first_name" 
                  [(ngModel)]="user.firstname" formControlName="firstname" /></div>
            <label for="user_last_name" class="col-md-2 col-sm-4 form-control-label">Last Name</label>
            <div class="col-md-4 col-sm-8">
              <input type="text" class="form-control" id="user_last_name" 
                  [ngModel]="user.lastname" formControlName="lastname" /></div>
          </div>
          <div class="form-group row">
            <label for="user_email" class="col-md-2 col-sm-4 form-control-label">Email</label>
            <div class="col-md-10 col-sm-8">
              <input type="email" class="form-control" id="user_email" 
                  [ngModel]="user.email" formControlName="email"/></div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-sm-4 form-control-label">Gender</label>
            <div class="col-md-10 col-sm-8">
              <div class="btn-group">
                <input type="hidden" id="user_gender" [ngModel]="user.gender" formControlName="gender" />
                <button type="button" class="btn" 
                  (click)="user.gender=1" 
                  [ngClass]="{'btn-secondary' : !user.gender || user.gender==2, 'btn-primary' : user.gender && user.gender==1}">
                  <i class="fa fa-male"></i> Male</button>
                <button type="button" class="btn" 
                  (click)="user.gender=2" 
                  [ngClass]="{'btn-secondary' : !user.gender || user.gender==1, 'btn-primary' : user.gender && user.gender==2}">
                  <i class="fa fa-female"></i> Female</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0 border-bottom-0">
        <div class="card-header bg-primary">
          <i class="fa fa-list"></i> Address
          <button class="btn btn-warning text-white" (click)="initNewAddress()">Add New Address</button>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-4" *ngFor="let address of user.addresses; let index = index;">
              <div class="card card-faded">
                <div class="card-block" [ngClass]="setAddressClass(address)">
                  <address>
                    <strong>{{address.firstname}} {{address.lastname}}</strong><br>
                    <span *ngFor="let str of address.street">{{str}}<br *ngIf="str" /></span>
                    <span *ngIf="address.city">{{address.city}}, </span>
                    <span *ngIf="address.region.region">{{address.region.region}}, </span>
                    <span>{{address.country_id}} {{address.postcode}}</span><br />
                    <abbr title="Phone">P:</abbr> {{address.telephone}}
                  </address>
                </div>
                <div class="card-footer p-0">
                  <div class="btn-group" *ngIf="address.delete!=1">
                    <button type="button" class="btn btn-secondary border-0" 
                        *ngIf="countries.length>0"
                        (click)="doEditAddress(address)">
                      <i class="fa fa-edit"></i> Edit</button>
                    <button type="button" class="btn btn-secondary border-0" 
                        (click)="address.edit=0;address.delete=1">
                      <i class="fa fa-remove"></i> Delete</button>
                    <button type="button" class="btn btn-secondary border-0" 
                        *ngIf="!address.default_shipping" 
                        (click)="setDefaultAddress(address)">
                      <i class="fa fa-star"></i> Default</button>
                  </div>
                  <div class="btn-group" *ngIf="address.delete==1">
                    <button type="button" class="btn btn-secondary border-0" (click)="address.delete=0">
                      <i class="fa fa-undo"></i> Undo Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="editAddress">
            <div class="col-md-12">
              <div class="card" formGroupName="addresses">
                <div class="card-header bg-primary">
                  <i class="fa fa-edit"></i> Edit Address
                </div>
                <div class="card-block">
                  <div class="form-group row">
                    <label for="address_first_name" class="col-md-2 col-sm-4 form-control-label">First Name</label>
                    <div class="col-md-4 col-sm-8">
                      <input type="text" class="form-control" id="address_first_name" 
                          [(ngModel)]="editAddress.firstname" formControlName="afirstname" /></div>
                    <label for="address_last_name" class="col-md-2 col-sm-4 form-control-label">Last Name</label>
                    <div class="col-md-4 col-sm-8">
                      <input type="text" class="form-control" id="address_last_name" 
                          [ngModel]="editAddress.lastname" formControlName="alastname" /></div>
                  </div>
                  <div class="form-group row">
                    <label for="address_street_0" class="col-md-2 form-control-label">Street Address</label>
                    <div class="col-md-5">
                      <input type="text" class="form-control" id="address_street_0" 
                          [(ngModel)]="editAddress.street[0]" formControlName="street0" /></div>
                    <div class="col-md-5">
                      <input type="text" class="form-control" id="address_street_1" 
                          [(ngModel)]="editAddress.street[1]" formControlName="street1" /></div>
                  </div>
                  <div class="form-group row">
                    <label for="address_city" class="col-md-2 form-control-label">City</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" id="address_city" 
                          [(ngModel)]="editAddress.city" formControlName="city" /></div>
                  </div>
                  <div class="form-group row">
                    <label for="address_country" class="col-md-2 form-control-label">Country</label>
                    <div class="col-md-10">
                      <ng-select [allowClear]="true"
                        [items]="countries" 
                        [active]="editAddress.selectedCountry"0
                        (data)="refreshCountryValue($event)"
                        placeholder="No country selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card border-top-0">
        <div class="card-footer bg-info">
          <div class="btn-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></form>
