<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i> Users
          <div  class="pull-right"><a [routerLink]="'add'" class="btn btn-primary">Add</a></div>
        </div>
        <div class="card-block">
          <div class="row py-2 bg-info">
            <div class="col-md-3">Name</div>
            <div class="col-md-3">Email</div>
            <div class="col-md-3">Phone</div>
            <div class="col-md-3">Region</div>
          </div>  

          <div class="row py-2" [ngClass]="{'bg-faded': odd}" *ngFor="let user of users; let odd= odd;">
            <div class="col-md-3">
              <i class="fa fa-male" *ngIf="user.gender == 1"></i>
              <i class="fa fa-female" *ngIf="user.gender == 2"></i>
              {{user.firstname}} {{user.lastname}}
            </div>
            <div class="col-md-3">
              {{user.email}}</div>
            <div class="col-md-3">
              <span *ngIf="user.default_shipping">{{user.default_shipping.telephone}}</span></div>
            <div class="col-md-3">
              <span *ngIf="user.default_shipping && user.default_shipping.region.region">{{user.default_shipping.region.region}}, </span>
              <span *ngIf="user.default_shipping">{{user.default_shipping.country_id}}</span></div>
            <div class="col-md-12">              
              <div class="btn-group btn-group-sm">
                <a [routerLink]="['edit', user.id]" class="btn btn-link pl-0">Edit</a>
                <button type="button" class="btn btn-link px-0" (click)="deleteUser(user.id)">Delete</button>
              </div>
            </div>
          </div>

          <div class="row mt-2"><div class="col-md-12">
            <ul class="pagination pull-right">
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(1);">First</a></li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage - 1);">Prev</a></li>
              <li class="page-item active" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(page);">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage + 1);">Next</a></li>
            </ul>
          </div></div>
        </div>
      </div>
    </div>
  </div>
</div>
