<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Freshbox_Portions::top" title="Freshbox Portions">
                    <resource id="Freshbox_Portions::config" title="Freshbox Portions" sortOrder="10"/>
                    <resource id="Freshbox_Portions::quantity_save" title="Save Portions" sortOrder="20" />
                    <resource id="Freshbox_Portions::quantity_delete" title="Delete Portions" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
