<div class="container-fluid py-5">
    <div class="container">
        <div class="row text-center p-2">
        </div>
    </div>
</div>
<div class="container-fluid p-0 mt-5">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-6">
                <div class="row mx-0">
                    <div class="col-auto">
                        <ul class="list-unstyled">
                            <li style="width:50px;" *ngFor="let image of swagMediaImages" (click)="changeMainImage(image)">
                                <img [src]="image.file.resized" class="img-fluid" />
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <img class="img-fluid" [src]="mainImgSrc" imageZoom="zoomedImgSrc" />
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="loadedSwag">
                <h1>{{swag.name}}</h1>
                <div class="row my-3">
                    <div class="col-auto px-3 pt-2">
                        Price {{swag.price | currency:'USD':true:'1.2-2'}}
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input class="form-control py-2" type="number" value="1" min="1" />
                        
                            <span class="input-group-btn ml-3">
                                <button class="btn btn-outline-green px-2 py-2">Add to cart</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <p>{{swag.custom_attributes | mgCatalogAttribute : 'description'}}</p>
                    </div>
                </div>
                <tabset>
                    <tab heading="Product Details">{{swag.custom_attributes | mgCatalogAttribute : 'description'}}</tab>
                    <tab heading="Return Policy">{{swag.custom_attributes | mgCatalogAttribute : 'return_policy'}}</tab>
                    <tab heading="Order and Shipping">{{swag.custom_attributes | mgCatalogAttribute : 'order_shipping'}}</tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
<newsletter></newsletter>