<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-orders"></i> Pages
          <div  class="pull-right"><a [routerLink]="'add'" class="btn btn-primary">Add</a></div>
        </div>
        <div class="card-block">
          <form [formGroup]="searchForm">
          <div class="row py-2">
            <label class="col-md-2 col-sm-4">Search : </label>
            <div class="col-md-6 col-sm-8">              
              <input type="text" class="form-control" formControlName="name" />
            </div>
          </div>
          </form>

          <div class="row py-2 bg-primary">
            <div class="col-md-2">ID</div>
            <div class="col-md-2">Purchase Date</div>
            <div class="col-md-2">Customer Name</div>
            <div class="col-md-2">Customer Email</div>
            <div class="col-md-2">Total</div>
            <div class="col-md-2">Status</div>
          </div>  
          
          <div class="row py-2 bg-info" *ngIf="loadingList">
            <div class="col">
              Loading orders...
            </div>
            <div class="col-auto px-2" *ngIf="!initLoad">
              <button type="button" class="btn btn-danger" (click)="abortSearch()">Abort</button>
            </div>
          </div>

          <div class="row py-2" *ngFor="let order of orders; let odd= odd;"
              [ngClass]="{'bg-faded': odd, 'bg-danger': isDeleted(order.id)}">
            <div class="col-md-2">
              {{order.increment_id}}</div>
            <div class="col-md-2">
              {{order.created_at | date}}</div>
            <div class="col-md-2">
              <i class="fa fa-male" *ngIf="order.customer_gender == 1"></i>
              <i class="fa fa-female" *ngIf="order.customer_gender == 2"></i>
              {{order.customer_firstname}} {{order.customer_lastname}}
            </div>
            <div class="col-md-2">
              {{order.customer_email}}</div>
            <div class="col-md-2">
              {{order.total_paid}} {{order.order_currency_code}}</div>
            <div class="col-md-2">
              {{order.order_currency_code}}</div>
            <div class="col-md-12">  
              <div class="btn-group btn-group-sm">
                <a [routerLink]="['view', order.entity_id]" class="btn btn-link pl-0">View</a>
              </div>
            </div>
          </div>

          <div class="row mt-2" *ngIf="pager && pager.totalPages > 1"><div class="col-md-12">
            <ul class="pagination pull-right">
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(1);">First</a></li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage - 1);">Prev</a></li>
              <li class="page-item active" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(page);">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage + 1);">Next</a></li>
            </ul>
          </div></div>
        </div>
      </div>
    </div>
  </div>
</div>
