<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Freshbox_Menus::top" title="Freshbox Menus">
                    <resource id="Freshbox_Menus::config" title="Freshbox Menus" sortOrder="10"/>
                    <resource id="Freshbox_Menus::menu_save" title="Save Menu" sortOrder="20" />
                    <resource id="Freshbox_Menus::menu_delete" title="Delete Menu" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
