<ul class="nav text-uppercase">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/','menu']">Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/','menu']">Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/','swags']">Swag</a>
    </li>
    <li class="nav-item" *ngIf="!islogin">
      <a class="nav-link" [routerLink]="['/','auth','login']">Signin</a>
    </li>
    <li class="nav-item" *ngIf="!islogin">
      <a class="nav-link" [routerLink]="['/','auth','register']">Signup</a>
    </li>
    <li class="nav-item" *ngIf="islogin">
      <a class="nav-link" [routerLink]="['/','account']">My account</a>
    </li>
    <li class="nav-item" *ngIf="islogin">
      <a class="nav-link" [routerLink]="['/','auth','logout']">Signout</a>
    </li>
  </ul>