<div class="animated fadeIn">
  <form [formGroup]="faqForm" (submit)="saveFaq()" *ngIf="loadedFormData">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" *ngIf="!faq.id">
          <i class="fa fa-list"></i> Add Faq
        </div>
        <div class="card-header" *ngIf="faq.id">
          <i class="fa fa-list"></i> Edit Faq
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label for="faq_question" class="col-md-2 form-control-label">Question</label>
            <div class="col-md-10" [ngClass]="setContainerErrorClass('question')">
              <textarea class="form-control" id="faq_question" formControlName="question" [ngClass]="setInputErrorClass('question')"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="faq_answer" class="col-md-2 form-control-label">Answer</label>
            <div class="col-md-10" [ngClass]="setContainerErrorClass('answer')">
              <textarea class="form-control" id="faq_answer" formControlName="answer" [ngClass]="setInputErrorClass('answer')"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-sm-4 form-control-label">Status</label>
            <div class="col-md-10 col-sm-8">
              <div class="btn-group">
                <button type="button" class="btn" (click)="setStatus(1)" [ngClass]="setStatusClass(1)">
                  Active</button>
                <button type="button" class="btn" (click)="setStatus(2)" [ngClass]="setStatusClass(2)">
                  In Active</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-footer bg-info">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary" (click)="goToList()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
<ng-template #savemodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Save Faq</h4>
  </div>
  <div class="modal-body">
    {{updatingMessage}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-right" aria-label="Close" (click)="modalRef.hide();goToList()" *ngIf="saveModalClose">
        Go To List
    </button>
    <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="modalRef.hide()" *ngIf="saveModalClose">
        Close
    </button>
    <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="abortSave()" *ngIf="abortModalClose">
        Abort
    </button>
  </div>
</ng-template>
<ng-template #editLoadModal>
  <div class="modal-header" *ngIf="!faq.id">
    <h4 class="modal-title pull-left"><i class="fa fa-list"></i> Add Faq</h4>
  </div>
  <div class="modal-header" *ngIf="faq.id">
      <h4 class="modal-title pull-left"><i class="fa fa-list"></i> Edit Faq</h4>
  </div>
  <div class="modal-body">
    Loading the required form datas...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger pull-right" (click)="abortEdit()">
        Abort
    </button>
  </div>
</ng-template>