<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Freshbox_Ingredients::top" title="Freshbox Ingredients">
                    <resource id="Freshbox_Ingredients::config" title="Freshbox Ingredient" sortOrder="10"/>
                    <resource id="Freshbox_Ingredients::ingredient_save" title="Save Ingredient" sortOrder="20" />
                    <resource id="Freshbox_Ingredients::ingredient_delete" title="Delete Ingredient" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
