<form [formGroup]="userForm" (submit)="saveUser()" novalidate>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0 border-bottom-0">
        <div class="card-header bg-primary">
          <i class="fa fa-user"></i> Account Information
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label for="user_first_name" class="col-md-2 col-sm-4 form-control-label">First Name</label>
            <div class="col-md-4 col-sm-8" [ngClass]="setContainerErrorClass('firstname')">
              <input type="text" class="form-control" id="user_first_name" formControlName="firstname" 
                [ngClass]="setInputErrorClass('firstname')" />
            </div>
            
            <label for="user_last_name" class="col-md-2 col-sm-4 form-control-label">Last Name</label>
            <div class="col-md-4 col-sm-8" [ngClass]="setContainerErrorClass('lastname')">
              <input type="text" class="form-control" id="user_last_name" formControlName="lastname" 
                [ngClass]="setInputErrorClass('lastname')" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></form>
