<div class="container-fluid flex-row pt-5 pb-3" [ngStyle]="backgrounds.header">
    <div class="container">
        <div class="row p-2 mt-5">
            <div class="col-12 text-center">
                <h1 class="font-wild text-white text-uppercase display-1 mb-5">Contact</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-3 my-5">    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="display-4">have questions or feedback? we would love to hear from you. say hi! and send us your comments</h3>
      </div>
      <div class="col-sm-8">
        <alert></alert>
        <form [formGroup]="contactForm" (submit)="sendMessage()">
          <div class="mb-3 px-2">    
            <label class="font-xl">Email</label>
            <input type="text" class="form-control py-3" formControlName="email" />
          </div>
          <div class="mb-3 px-2">    
            <label class="font-xl">Subject</label>
            <input type="text" class="form-control py-3" formControlName="subject" />
          </div>
          <div class="mb-3 px-2">    
            <label class="font-xl">Last Name</label>
            <textarea type="text" class="form-control py-3" formControlName="message"></textarea>
          </div>
          <div class="px-2">
            <button *ngIf="!submitting" type="submit" class="btn btn-outline-green px-4">
              Say Hi!</button>
            <button disabled *ngIf="submitting" type="button" class="btn btn-outline-green px-4">
                Submitting...</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
