<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Freshbox_Newsletter::top" title="Freshbox Newsletter">
                    <resource id="Freshbox_Newsletter::config" title="Freshbox Newsletter" sortOrder="10"/>
                    <resource id="Freshbox_Newsletter::subscriber_save" title="Save Newsletter" sortOrder="20" />
                    <resource id="Freshbox_Newsletter::subscriber_delete" title="Delete Newsletter" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
