<div class="animated fadeIn">
  <form [formGroup]="swagForm" (submit)="saveSwag()" *ngIf="loadedFormData">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" *ngIf="!swag.sku">
          <i class="fa fa-list"></i> Add Swag
        </div>
        <div class="card-header" *ngIf="swag.sku">
          <i class="fa fa-list"></i> Edit Swag
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label for="swag_name" class="col-md-2 form-control-label">Swag Name</label>
            <div class="col-md-10" [ngClass]="setContainerErrorClass('name')">
              <input tooltip="dsdsf dsf dsf ds" type="text" class="form-control" id="swag_name" formControlName="name" [ngClass]="setInputErrorClass('name')" />
            </div>
          </div>
          <div class="form-group row">
            <label for="swag_name" class="col-md-2 form-control-label">Price</label>
            <div class="col-md-10" [ngClass]="setContainerErrorClass('price')">
              <input tooltip="dsdsf dsf dsf ds" type="text" class="form-control" id="swag_price" formControlName="price" [ngClass]="setInputErrorClass('price')" />
            </div>
          </div>
          <div class="form-group row" formGroupName="extension_attributes">
            <label for="swag_name" class="col-md-2 form-control-label">Quantity</label>
            <div class="col-md-10" [ngClass]="setQtyContainerErrorClass()" formGroupName="stock_item">
              <input tooltip="dsdsf dsf dsf ds" type="text" class="form-control" id="swag_price" 
                formControlName="qty" [ngClass]="setQtyInputErrorClass()" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-sm-4 form-control-label">Status</label>
            <div class="col-md-10 col-sm-8">
              <div class="btn-group">
                <button type="button" class="btn" (click)="setStatus(1)" [ngClass]="setStatusClass(1)">
                  Active</button>
                <button type="button" class="btn" (click)="setStatus(2)" [ngClass]="setStatusClass(2)">
                  In Active</button>
              </div>
            </div>
          </div>
          
          <div class="form-group row" formArrayName="custom_attributes" 
              *ngIf="getCustomAttributeIndex('description') >= 0">
            <label for="swag_desc" class="col-md-2 form-control-label">Description</label>
            <div class="col-md-10" [ngClass]="setAttrContainerErrorClass('description')" [formGroupName]="getCustomAttributeIndex('description')">
              <textarea class="form-control" rows="5" id="swag_desc" [ngClass]="setAttrInputErrorClass('description')" formControlName="value"></textarea>
            </div>
          </div>
          <div class="form-group row" formArrayName="custom_attributes" 
              *ngIf="getCustomAttributeIndex('order_shipping') >= 0">
            <label for="swag_order_shipping" class="col-md-2 form-control-label">Order Shipping</label>
            <div class="col-md-10" [ngClass]="setAttrContainerErrorClass('order_shipping')" [formGroupName]="getCustomAttributeIndex('order_shipping')">
              <textarea class="form-control" rows="5" id="swag_order_shipping" [ngClass]="setAttrInputErrorClass('order_shipping')" formControlName="value"></textarea>
            </div>
          </div>
          <div class="form-group row" formArrayName="custom_attributes" 
              *ngIf="getCustomAttributeIndex('return_policy') >= 0">
            <label for="swag_return_policy" class="col-md-2 form-control-label">Return Policy</label>
            <div class="col-md-10" [ngClass]="setAttrContainerErrorClass('return_policy')" [formGroupName]="getCustomAttributeIndex('return_policy')">
              <textarea class="form-control" rows="5" id="swag_return_policy" [ngClass]="setAttrInputErrorClass('return_policy')" formControlName="value"></textarea>
            </div>
          </div>
          <dropzone (removedfile)="removedfile($event)" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"></dropzone>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-footer bg-info">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary" (click)="goToList()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
<ng-template #savemodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Save Swag</h4>
  </div>
  <div class="modal-body">
    {{updatingMessage}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-right" aria-label="Close" (click)="modalRef.hide();goToList()" *ngIf="saveModalClose">
        Go To List
    </button>
    <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="modalRef.hide()" *ngIf="saveModalClose">
        Close
    </button>
    <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="abortSave()" *ngIf="abortModalClose">
        Abort
    </button>
  </div>
</ng-template>
<ng-template #editLoadModal>
  <div class="modal-header" *ngIf="!swag.sku">
    <h4 class="modal-title pull-left"><i class="fa fa-list"></i> Add Swag</h4>
  </div>
  <div class="modal-header" *ngIf="swag.sku">
      <h4 class="modal-title pull-left"><i class="fa fa-list"></i> Edit Swag</h4>
  </div>
  <div class="modal-body">
    Loading the required form datas...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger pull-right" (click)="abortEdit()">
        Abort
    </button>
  </div>
</ng-template>