<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col"><i class="fa fa-list"></i> Meal Preferences</div>
					<div class="col-auto px-2">
						<button type="button" class="btn btn-sm btn-primary" (click)="openMealPrefForm()">Add New Preference</button>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="row" *ngFor="let preference of menuItem?.options; let index = index;">
	<div class="col-md-12" *ngIf="index >= 6">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">{{preference.title.split('|')[0]}}</div>
					<div class="col-auto px-2">
						<div class="btn-group btn-group-sm">
							<!--<button [disabled]="preference.statusLoading" (click)="toggleMealPreftatus(preference, 0)" type="button" class="btn btn-success" *ngIf="preference.is_active == 1">Active</button>
							<button [disabled]="preference.statusLoading" (click)="toggleMealPreftatus(preference, 1)" type="button" class="btn btn-danger" *ngIf="preference.is_active != 1">In-Active</button>-->
							<button type="button" class="btn btn-secondary" (click)="openMealPrefForm(preference)">Edit</button>
							<button type="button" class="btn btn-secondary" (click)="deleteMealPref(preference.option_id)">Delete</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-block">
				<div class="row" *ngFor="let opt of preference.values;let odd = odd;">
					<div class="col-12">
						<div class="row py-2" [ngClass]="{'bg-faded': odd}">
							<div class="col">{{opt.title}}</div>
							<div class="col-auto px-2">Price: {{opt.price | currency:'USD':true:'1.0'}}</div>
							<div class="col-auto px-2">
								<div class="btn-group btn-group-sm">
									<!--<button [disabled]="opt.statusLoading" (click)="toggleMealOptionStatus(preference, opt, 0)" type="button" class="btn btn-success" *ngIf="opt.is_active == 1">Active</button>
									<button [disabled]="opt.statusLoading" (click)="toggleMealOptionStatus(preference, opt, 1)" type="button" class="btn btn-danger" *ngIf="opt.is_active != 1">In-Active</button>-->
									<button type="button" class="btn btn-secondary" (click)="openOptionForm(preference, opt)">Edit</button>
									<button type="button" class="btn btn-secondary" (click)="deleteMealOption(preference, opt)">Delete</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer text-right">
				<button type="button" class="btn btn-primary" (click)="openOptionForm(preference)">Add New Option</button>
			</div>
		</div>
	</div>
</div>

<ng-template #optionFormTpl>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Preference Option</h4>
  </div>
  <div class="modal-body">
		<alert displayId="popup"></alert>
    <form [formGroup]="customOptionValueForm" (submit)="saveMealOption()">
			<div class="form-group row">
				<label for="option_title" class="col-12 form-control-label">Name</label>
				<div class="col-12" [ngClass]="setContainerErrorClass('title', customOptionValueForm)">
					<input type="text" class="form-control" id="option_title" 
						formControlName="title"  [ngClass]="setInputErrorClass('title', customOptionValueForm)" />
				</div>
			</div>
			<div class="form-group row">
				<label for="option_price" class="col-12 form-control-label">Price</label>
				<div class="col-12" [ngClass]="setContainerErrorClass('price', customOptionValueForm)">
					<input type="number" class="form-control" id="option_price"
						formControlName="price"  [ngClass]="setInputErrorClass('price', customOptionValueForm)" />
				</div>
			</div>
			<div class="form-group row">
				<label for="option_sort_order" class="col-12 form-control-label">Sort Order</label>
				<div class="col-12" [ngClass]="setContainerErrorClass('sort_order', customOptionValueForm)">
					<input type="number" min="1" class="form-control" id="option_sort_order"
						formControlName="sort_order" [ngClass]="setInputErrorClass('sort_order', customOptionValueForm)" />
				</div>
			</div>
		</form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-right" [disabled]="loading"(click)="closeEditModal(modalOptionFormRef)">
        Close
    </button>
    <button type="button" class="btn btn-primary pull-right" *ngIf="!loading" (click)="saveMealOption()">
        Save
		</button>
		<button type="button" class="btn btn-primary pull-right" *ngIf="loading" disabled>
        Saving...
    </button>
  </div>
</ng-template>

<ng-template #mealPrefFormTpl>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Meal Preference</h4>
  </div>
  <div class="modal-body">
		<alert displayId="popup"></alert>
    <form [formGroup]="customOptionForm" (submit)="saveMealPref()">
			<div class="form-group row">
				<label for="option_title" class="col-12 form-control-label">Title</label>
				<div class="col-12" [ngClass]="setContainerErrorClass('title', customOptionForm)">
					<input type="text" class="form-control" id="option_title" 
						formControlName="title"  [ngClass]="setInputErrorClass('title', customOptionForm)" />
				</div>
			</div>
			<div class="form-group row">
				<label for="option_display_title" class="col-12 form-control-label">Display Title</label>
				<div class="col-12" [ngClass]="setContainerErrorClass('display_title', customOptionForm)">
					<input type="text" class="form-control" id="option_display_title" 
						formControlName="display_title"  [ngClass]="setInputErrorClass('display_title', customOptionForm)" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-4 form-control-label">Type</label>
				<div class="col-8">
					<input type="radio" id="option_type_radio" formControlName="type" value="radio" />
					<label for="option_type_radio">Select One</label>&nbsp;
					<input type="radio" id="option_type_checkbox" formControlName="type" value="checkbox" />
					<label for="option_type_checkbox">Select Multiple</label>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-4 form-control-label">Is Require?</label>
				<div class="col-8">
					<input type="radio" id="option_is_required_yes" formControlName="is_require" value="1" />
					<label for="option_is_required_yes">Yes</label>&nbsp;
					<input type="radio" id="option_is_required_no" formControlName="is_require" value="0" />
					<label for="option_is_required_no">No</label>
				</div>
			</div>
		</form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-right" [disabled]="loading" (click)="closeEditModal(modalPrefFormRef)">
        Close
    </button>
    <button type="button" class="btn btn-primary pull-right" *ngIf="!loading" (click)="saveMealPref()">
        Save
		</button>		
		<button type="button" class="btn btn-primary pull-right" *ngIf="loading" disabled>
        Saving...
    </button>
  </div>
</ng-template>