<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Freshbox_Subscription::top" title="Freshbox Subscription">
                    <resource id="Freshbox_Subscription::config" title="Freshbox Subscription" sortOrder="10"/>
                    <resource id="Freshbox_Subscription::main_save" title="Save subscription" sortOrder="20" />
                    <resource id="Freshbox_Subscription::main_delete" title="Delete subscription" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
