<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-list"></i> Testimonal
          <div  class="pull-right"><a [routerLink]="'add'" class="btn btn-primary">Add</a></div>
        </div>
        <div class="card-block">
          <form [formGroup]="searchForm">
          <div class="row py-2">
            <label class="col-md-2 col-sm-4">Search : </label>
            <div class="col-md-6 col-sm-8">              
              <input type="text" class="form-control" formControlName="name" />
            </div>
          </div>
          </form>

          <div class="row py-2 bg-primary">
            <div class="col-md-2">Name</div>
            <div class="col-md-2">Email</div>
            <div class="col-md-6">Content</div>
            <div class="col-md-2">Status</div>
          </div>

          <div class="row py-2 bg-info" *ngIf="loadingList">
            <div class="col">
              Loading testimonal...
            </div>
            <div class="col-auto px-2" *ngIf="!initLoad">
              <button type="button" class="btn btn-danger" (click)="abortSearch()">Abort</button>
            </div>
			
          </div>
          
          <div class="row py-2 bg-warning" *ngIf="testimonals && testimonals.length == 0">
            <div class="col">
              No records found.
            </div>
          </div>

          <div class="row py-2" *ngFor="let testimonal of testimonal;let odd=odd;" [ngClass]="{'bg-faded': odd}">
            <div class="col-md-2">
              {{testimonal.name}}
			  <div class="btn-group btn-group-sm" >
                <a [routerLink]="['edit', testimonal.name]" class="btn btn-link pl-0">Edit</a>
                <button type="button" class="btn btn-link px-0" (click)="deleteTestimonial(testimonal.name)">Delete</button>
              </div>
            </div>
			
            <div class="col-md-2">{{testimonal.email}}</div>
            <div class="col-md-6">{{testimonal.content}}</div>
            <div class="col-md-2">{{getTestimonalStatus(testimonal.is_active)}}</div>            
          </div>

          <div class="row mt-2" *ngIf="pager && pager.totalPages > 1"><div class="col-md-12">
            <ul class="pagination pull-right">
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(1);">First</a></li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage - 1);">Prev</a></li>
              <li class="page-item active" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(page);">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage + 1);">Next</a></li>
            </ul>
          </div></div>
        </div>
      </div>
    </div>
  </div>
</div>
