<div class="animated fadeIn">
  <form [formGroup]="recipeForm" (submit)="saveRecipe()" *ngIf="loadedFormData">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" *ngIf="formAction">
          <i class="fa fa-list"></i> {{formAction}} Recipe
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label for="recipe_name" class="col-md-2 form-control-label">Recipe Name</label>
            <div class="col-md-10" [ngClass]="setContainerErrorClass('name')">
              <input type="text" class="form-control" id="recipe_name" formControlName="name" 
                [ngClass]="setInputErrorClass('name')" />
            </div>
          </div>
          <div class="form-group row" formArrayName="custom_attributes" 
              *ngIf="getCustomAttributeIndex('description') >= 0">
            <label for="recipe_desc" class="col-md-2 form-control-label">Description</label>
            <div class="col-md-10" [ngClass]="setAttrContainerErrorClass('description')" [formGroupName]="getCustomAttributeIndex('description')">
              <textarea class="form-control" rows="5" id="recipe_desc" [ngClass]="setAttrInputErrorClass('description')" formControlName="value"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block" formArrayName="custom_attributes">
          <div class="form-group row">
            <label for="recipe_chef" class="col-md-2 form-control-label">Created By</label>
            <div class="col-md-10" [ngClass]="setAttrContainerErrorClass('chef_name')" [formGroupName]="getCustomAttributeIndex('chef_name')">
              <input type="text" class="form-control" id="recipe_chef" [ngClass]="setAttrInputErrorClass('chef_name')" formControlName="value" />
            </div>
          </div>
          <div class="form-group row">
            <label for="recipe_serving" class="col-md-2 form-control-label">Serving Size</label>
            <div class="col-md-4" [ngClass]="setAttrContainerErrorClass('servings')" [formGroupName]="getCustomAttributeIndex('servings')">
              <input type="text" class="form-control" id="recipe_serving" [ngClass]="setAttrInputErrorClass('servings')" formControlName="value" /> 
            </div>
            <label for="recipe_prep" class="col-md-2 form-control-label">Prep. Time</label>
            <div class="col-md-4" [ngClass]="setAttrContainerErrorClass('cooking_time')" [formGroupName]="getCustomAttributeIndex('cooking_time')">
              <input type="text" class="form-control" id="recipe_prep" [ngClass]="setAttrInputErrorClass('cooking_time')"formControlName="value" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Food Nutrition
        </div>
        <div class="card-block" formArrayName="custom_attributes">
          <div class="form-group row">
            <label for="recipe_calories" class="col-md-4 form-control-label">Calories</label>
            <div class="input-group col-md-8" [ngClass]="setAttrContainerErrorClass('calories')" [formGroupName]="getCustomAttributeIndex('calories')">
              <input type="text" class="form-control" id="recipe_calories" [ngClass]="setAttrInputErrorClass('calories')" formControlName="value" />
            </div>
          </div>
          <div class="form-group row">
            <label for="recipe_protein" class="col-md-4 form-control-label">Protein</label>
            <div class="input-group col-md-8" [ngClass]="setAttrContainerErrorClass('protein')" [formGroupName]="getCustomAttributeIndex('protein')">
              <input type="text" class="form-control" id="recipe_protein" [ngClass]="setAttrInputErrorClass('protein')" formControlName="value" />
              <span class="input-group-addon">g</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="recipe_carb" class="col-md-4 form-control-label">Carb</label>
            <div class="input-group col-md-8" [ngClass]="setAttrContainerErrorClass('carb')" [formGroupName]="getCustomAttributeIndex('carb')">
              <input type="text" class="form-control" id="recipe_carb" [ngClass]="setAttrInputErrorClass('carb')" formControlName="value" />
              <span class="input-group-addon">g</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="recipe_fat" class="col-md-4 form-control-label">Fat</label>
            <div class="input-group col-md-8" [ngClass]="setAttrContainerErrorClass('fat')" [formGroupName]="getCustomAttributeIndex('fat')">
              <input type="text" class="form-control" id="recipe_fat" [ngClass]="setAttrInputErrorClass('fat')" formControlName="value" />
              <span class="input-group-addon">g</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Ingredients
        </div>
        <div class="card-block">
          <div class="form-group row mb-1" *ngIf="ingredientsOptions">
            <div class="col-md-12">
              <ng-select [allowClear]="true" [multiple]="false"
                [items]="ingredientsOptions.ingredients" 
                (data)="refreshIngredientOptionValue($event)"
                placeholder="No Integredient selected">
              </ng-select>
              <div class="input-group">                
                <input class="form-control" type="number" [(ngModel)]="newIngredient.qty" [ngModelOptions]="{standalone: true}" />
                <select class="form-control" [(ngModel)]="newIngredient.portion" [ngModelOptions]="{standalone: true}">
                  <option></option>
                  <option *ngFor="let portion of ingredientsOptions.portions" [ngValue]="portion">{{portion.text}}</option>
                </select>
                <span>
                  <button class="btn btn-primary" type="button" [disabled]="ingredientDisable()" (click)="addIngredient()">Add</button>
                </span>
              </div>
            </div>
          </div>
          <ul class="list-group" *ngFor="let ingredient of ingredients; let index = index;">
            <li class="list-group-item row p-1 mx-0">
              <span class="col">{{ingredient.ingredient.text}}</span> 
              <span class="col-auto">{{ingredient.qty}}</span> 
              <span class="col-auto" *ngIf="ingredient.portion">{{ingredient.portion.text}}</span>
              <span class="col-auto px-1">
                <button class="btn btn-link p-0" type="button" (click)="removeIngredient(index)">
                  <i class="fa fa-remove"></i>
                </button>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Steps
        </div>
        <div class="card-block">         
          <div class="form-group row mb-1">
            <div class="col-md-12">
              <div class="input-group">
                <textarea type="text" class="form-control" rows="5" 
                    [(ngModel)]="newRecipeStep" [ngModelOptions]="{standalone: true}"></textarea>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" [disabled]="!newRecipeStep" (click)="addRecipeStep()">Add</button>
                </span>
              </div>
            </div>
          </div>
          <ul class="list-group" *ngFor="let step of recipeSteps; let index = index;">
            <li class="list-group-item row p-1 mx-0">
              <p class="col">{{step}}</p>
              <span class="col-auto px-1">
                <button class="btn btn-link p-0" type="button" (click)="removeRecipeStep(index)">
                  <i class="fa fa-remove"></i>
                </button>
              </span>
            </li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          what customer will need
        </div>
        <div class="card-block">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="newCustomerNeed" [ngModelOptions]="{standalone: true}" />
                <span class="input-group-btn">
                  <button class="btn btn-primary" [disabled]="!newCustomerNeed" (click)="addYouNeeds()" type="button">Add</button>
                </span>
              </div>
              <ul class="list-group" *ngFor="let youNeed of customerNeeds; let index = index;">
                <li class="list-group-item row p-1 mx-0">
                  <span class="col">{{youNeed}}</span> 
                  <span class="col-auto px-1">
                    <button class="btn btn-link p-0" type="button" (click)="removeYouNeed(index)">
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
            Equipment Needed
        </div>
        <div class="card-block">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="newEquipmentNeeded" [ngModelOptions]="{standalone: true}" />
                <span class="input-group-btn">
                  <button class="btn btn-primary" [disabled]="!newEquipmentNeeded" (click)="addEquipmentNeeded()" type="button">Add</button>
                </span>
              </div>
              <ul class="list-group" *ngFor="let equipment_need of equipment_needs; let index = index;">
                <li class="list-group-item row p-1 mx-0">
                  <span class="col">{{equipment_need}}</span> 
                  <span class="col-auto px-1">
                    <button class="btn btn-link p-0" type="button" (click)="removeEquipmentNeeded(index)">
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </li>
              </ul>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
            Allergies
        </div>
        <div class="card-block">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="newAllerigy" [ngModelOptions]="{standalone: true}" />
                <span class="input-group-btn">
                  <button class="btn btn-primary" [disabled]="!newAllerigy" (click)="addAllergy()" type="button">Add</button>
                </span>
              </div>
              <ul class="list-group" *ngFor="let allergy of allergies; let index = index;">
                <li class="list-group-item row p-1 mx-0">
                  <span class="col">{{allergy}}</span> 
                  <span class="col-auto px-1">
                    <button class="btn btn-link p-0" type="button" (click)="removeAllergy(index)">
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </li>
              </ul>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12">
      <div class="card-header">
        <i class="fa fa-list"></i> Images
      </div>
      <div class="card">
        <div class="card-block">
            <dropzone (removedfile)="removedImage($event)" [config]="imageUploadConfig" [message]="'Click or drag images here to upload'"></dropzone>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-header">
        <i class="fa fa-list"></i> PDF Document
      </div>
      <div class="card">
        <div class="card-block">
            <dropzone [config]="pdfUploadConfig" [message]="'Click or drag PDF here to upload'"></dropzone>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-footer bg-info">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary" (click)="goToList()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
<ng-template #savemodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Save Recipe</h4>
  </div>
  <div class="modal-body">
    {{updatingMessage}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-right" aria-label="Close" (click)="modalRef.hide();goToList()" *ngIf="saveModalClose">
        Go To List
    </button>
    <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="modalRef.hide()" *ngIf="saveModalClose">
        Close
    </button>
    <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="abortSave()" *ngIf="abortModalClose">
        Abort
    </button>
  </div>
</ng-template>
<ng-template #editLoadModal>
  <div class="modal-header" *ngIf="formAction">
    <h4 class="modal-title pull-left"><i class="fa fa-list"></i> {{formAction}} Recipe</h4>
  </div>
  <div class="modal-body">
    Loading the required form datas...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger pull-right" (click)="abortEdit()">
        Abort
    </button>
  </div>
</ng-template>
