<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-list"></i> Recipes
          <div  class="pull-right"><a [routerLink]="'add'" class="btn btn-primary">Add</a></div>
        </div>
        <div class="card-block">
          <form [formGroup]="searchForm">
          <div class="row py-2">
            <label class="col-md-2 col-sm-4">Search : </label>
            <div class="col-md-6 col-sm-8">              
              <input type="text" class="form-control" formControlName="name" />
            </div>
          </div>
          </form>

          <div class="row py-2 bg-primary">
            <div class="col-md-3">Receipe</div>
            <div class="col-md-3">Serving Size</div>
            <div class="col-md-3">Cook Time</div>
            <div class="col-md-3">Created By</div>
          </div>
          
          <div class="row py-2 bg-info" *ngIf="loadingList">
            <div class="col">
              Please wait! Loading the records...
            </div>
            <div class="col-auto px-2" *ngIf="!initLoad">
              <button type="button" class="btn btn-sm btn-danger" (click)="abortSearch()">Abort</button>
            </div>
          </div>
          
          <div class="row py-2 bg-warning" *ngIf="!loadingList && recipes && recipes.length == 0">
            <div class="col">
              No records found.
            </div>
          </div>

          <div class="row py-2" 
              *ngFor="let recipe of recipes;let odd=odd;" 
              [ngClass]="{'bg-faded': odd, 'bg-danger': isDeleted(recipe.sku)}">
            <div class="col-md-1">
              <div class="avatar">
               <img class="img-avatar" 
                  [src]="recipe.custom_attributes | mgCatalogAttribute:'thumbnail'"
                  (error)="recipe.imageHide=1" *ngIf="!recipe.imageHide" />
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div class="col-md-2">
              {{recipe.name}}
              <div class="col px-0 btn-group btn-group-sm" *ngIf="isDeleted(recipe.sku)">
                <button type="button" class="btn btn-link px-0" (click)="cancelDelete(recipe.sku)">Cancel Delete</button>
              </div>
              <div class="col px-0 btn-group btn-group-sm" *ngIf="!isDeleted(recipe.sku)">
                <a [href]="recipePreviewLink(recipe)" target="_blank" class="btn btn-link pl-0">Preview</a>
                <a [routerLink]="['edit', recipe.sku]" class="btn btn-link pl-0">Edit</a>
                <button type="button" class="btn btn-link px-0" (click)="deleteReceipe(recipe.sku, pager.page)">Delete</button>
              </div>
            </div>
            <div class="col-md-3">{{recipe.custom_attributes | mgCatalogAttribute:'servings'}}</div>
            <div class="col-md-3">{{recipe.custom_attributes | mgCatalogAttribute:'cooking_time'}}</div>
            <div class="col-md-3">{{recipe.custom_attributes | mgCatalogAttribute:'chef_name'}}</div>
          </div>

          <div class="row mt-2" *ngIf="pager && pager.totalPages > 1"><div class="col-md-12">
            <ul class="pagination pull-right">
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(1);">First</a></li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage - 1);">Prev</a></li>
              <li class="page-item active" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(page);">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage + 1);">Next</a></li>
            </ul>
          </div></div>
        </div>
      </div>
    </div>
  </div>
</div>
