<header class="app-header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-success py-3 navbar-toggler hidden-md-up" type="button" appMobileSidebarToggler>&#9776;</button>
          <a class="navbar-brand border-0" [routerLink]="['/']"></a>
        </div>
        <div class="col-auto hidden-sm-down my-auto">
          <topmenu></topmenu>
        </div>
      </div>      
    </div>
  </nav> 
</header>

<div class="app-body mt-0">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <topmenu></topmenu>
    </nav>
  </div>
  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>

<footer>
  <div class="container-fluid" 
        [ngStyle]="backgrounds.gray">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8">
          <div class="row text-uppercase font-xl">
            <div class="col-auto pr-8">
              <ul class="list-unstyled">
                <li class="">Menus</li>
                <li class="">Swag</li>
                <li class="">Gifts</li>
              </ul>
            </div>
            <div class="col-auto pr-8">
              <ul class="list-unstyled">
                <li class="">CONTACT US</li>
                <li class="">FAQ</li>
              </ul>
            </div>
            <div class="col-auto">
              <ul class="list-unstyled">
                <li class="">Blog</li>
                <li class="">Cookbook</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <a [routerLink]="['/']" class="foot-logo"><img class="img-fluid" src="images/footer-logo.png"></a>
          <div class="row my-3">
            <a class="px-3"><i class="font-3xl fa fa-instagram" aria-hidden="true"></i></a>
            <a class="px-3"><i class="font-3xl fa fa-twitter" aria-hidden="true"></i></a>
            <a class="px-3"><i class="font-3xl fa fa-facebook" aria-hidden="true"></i></a>
            <a class="px-3"><i class="font-3xl fa fa-pinterest-p" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-1">&copy; Hawaii Fresh Box. All Rights Reserved.</p>
          <p>Designed  by <a class="color-spl-green" target="_blank" href="http://white-space.studio/">White Space Studio</a>
        </div>
      </div>
    </div>
  </div>
</footer>
