<header class="app-header navbar">
  <div class="container">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand border-0" [routerLink]="['/']"></a>
  </div>
</header>

<div class="app-body mt-0">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
            <i class="icon-speedometer"></i> Dashboard</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/menu']">
            <i class="icon-list"></i> Menu</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/recipes']">
            <i class="icon-list"></i> Recipes</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/swags']">
            <i class="icon-list"></i> Swags</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">
            <i class="icon-user"></i> Users</a>
        </li>    
      </ul>
    </nav>
  </div>
  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="app-footer">
</footer>
