<header class="app-header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-success py-3 navbar-toggler hidden-md-up" type="button" appMobileSidebarToggler>&#9776;</button>
          <a class="navbar-brand border-0" [routerLink]="['/']"></a>
        </div>
        <div class="col-auto hidden-sm-down my-auto">
          <ul class="nav text-uppercase">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/','menu']">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/','menu']">Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/','swags']">Swag</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/','faq']">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>      
    </div>
  </nav> 
</header>
<div class="app flex-row align-items-center" [ngStyle]="backgrounds.header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-white">
        <router-outlet></router-outlet>        
      </div>
    </div>
  </div>
</div>