<div class="container-fluid py-5">
    <div class="container">
        <div class="row text-center p-2">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<h4>Hello Alice Williams! (not Alice WIlliams? Sign Out)</h4>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid bg-faded my-3">
    <div class="container">	
        <div class="row">
			<div class="col-sm-4 px-3 py-4">
				<h4>Your Upcoming Order:</h4>
				<p>May 21st, 2017</p>
			</div>
			<div class="col-sm-4 px-3 py-4">
				<h4>Change your order and meal preferences by:</h4>
				<p>May 21st, 2017</p>
			</div>
			<div class="col-sm-4 px-3 py-4">
				<h4>Customer since:</h4>
				<p>May 21st, 2017</p>
				<button type="button" class="btn btn-outline-green">Unsubscribe</button>
			</div>
        </div>
    </div>
</div>

<div class="container-fluid my-3">
    <div class="container text-center">	
        <div class="row">
			<div class="col-sm-4 px-3 py-2">
				<div class="card px-2 py-4">
					<div class="card-body">
						<h5>Orders & Subscription</h5>
						<p>Update, rate, or return your orders</p>
					</div>
				</div>
			</div>
			<div class="col-sm-8 px-3 py-2 mt-sm-2">
				<div class="card px-2 py-4">
					<div class="card-body">
						<h5>Share this link to refer friends and receive $5: <a href="#">https:// eofjggfgg.f564.rgrter.rtet</a></h5>
					</div>
				</div>
			</div>
        </div>
		<div class="row">
			<div class="col-sm-4 px-3 py-2">
				<div class="card px-2 py-4">
					<div class="card-body">
						<h5>Login & Security</h5>
						<p>Edit Log In, Name, and Mobile number</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 px-3 py-2">
				<div class="card px-2 py-4">
					<div class="card-body">
						<h5>Payment Info</h5>
						<p>Edit or add payment methods</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 px-3 py-2">
				<div class="card px-2 py-4">
					<div class="card-body">
						<h5>Gifts</h5>
						<p>Purchase or redeem a box or gift card</p>
					</div>
				</div>
			</div>
        </div>
		<div class="row">
			<div class="col-sm-4 px-3 py-2">
				<div class="card px-2 py-4">
					<div class="card-body">
						<h5>Meal Preferences</h5>
						<p>Edit your meal preferences, add allergies.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 px-3 py-2">
				<div class="card px-2 py-4">
					<div class="card-body">
						<h5>Addresses</h5>
						<p>Edit addresses for orders and gifts</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 px-3 py-2">
				<div class="card px-2 py-4">
					<div class="card-body">
						<h5>Recipes</h5>
						<p>View my recipes and cookbook</p>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
