<div class="container-fluid my-3">
    <div class="container">
      <div class="row py-2 mb-3">
          <div class="col-12">
              <a class="text-muted" [routerLink]="['/', 'account']">Your Account</a>
              <span class="font-xs">>></span>
              <span class="font-weight-bold text-success">Change your meal preference</span>
          </div>
      </div>
      <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-uppercase">Change your meal preference</h2>
                <p>Meal preferences due date message ( must be in by Friday 11.59pm )</p>
            </div>
            <div class="col-12 mt-5">
                <form [formGroup]="userMealPrefForm" (submit)="saveUserMealPref()" novalidate>
                    <div class="form-group row">                        
                        <div class="col-md-6 col-sm-12 text-center" [ngClass]="setInputDivClass('howmuch_meals_week')">
                            <label for="howmuch_meals_week" class="w-100 form-control-label">How many meals would <br class="hidden-sm-down" />you like each week?</label>
                            <div class="pl-3 pr-5 pt-3 font-weight-bold">3</div>
                            <input type="hidden" formControlName="howmuch_meals_week" />
                        </div>
                        
                        <div class="col-md-6 col-sm-12 text-center" [ngClass]="setInputDivClass('howmany_people')">
                            <label for="howmany_people" class="w-100 form-control-label">How many people are <br class="hidden-sm-down" />you cooking for?</label>
                            <select class="form-control-lg pl-3 pr-5 rounded-0" id="howmany_people" formControlName="howmany_people" 
                                [ngClass]="setInputClass('howmany_people')">
                                <option *ngFor="let opt of [2,4,6,8]" [ngValue]="parseInt(opt)">{{opt}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-5" *ngFor="let preference of preferences;">
                        <div class="col-12">
                            <label class="w-100 form-control-label">{{preference.title}}</label>
                            <div class="row">                        
                                <div class="col-md-2 col-sm-3 col-6 px-1 py-3 font-sm" *ngFor="let opt of preference.options">                            
                                    <div class="mx-auto pointer" style="max-width:100%; width: 120px; height: 120px;">
                                        <div class="circle_main px-1 py-3" [ngClass]="{'bg-green': opt.selected_qty > 0}" [hoverClass]="'bg-light'" (click)="selectPreference(preference, opt)">
                                            <div class="circle_text_container">
                                                <div class="circle_text">
                                                    {{opt.title}}
                                                    <div *ngIf="opt.qty_enabled == 1 && opt.selected_qty > 0">
                                                        {{opt.selected_qty}} x
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center mt-1" *ngIf="opt.selected_qty > 0">
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-secondary" tooltip="Decrease Quantity" (click)="decresePreference(preference, opt)" *ngIf="opt.qty_enabled == 1 && opt.selected_qty > 1">-</button>
                                            <button type="button" class="btn btn-secondary" tooltip="Deselect Preference" (click)="removePreference(preference, opt)">x</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-12 mt-3" [ngClass]="setInputDivClass('meal_extra_notes')">
                            <label for="meal_extra_notes" class="form-control-label">Didn’t find it? Please enter here:</label>
                            <textarea rows="5" type="text" class="form-control rounded-0" id="meal_extra_notes" formControlName="meal_extra_notes" [ngClass]="setInputClass('meal_extra_notes')"></textarea>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-12"><hr /></div>
                        <div class="col-12 text-right">
                            <button type="submit" class="btn btn-outline-green" *ngIf="!loading">Submit</button>
                            <button type="button" class="btn btn-outline-green" disabled *ngIf="loading">Loading...</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>