<div class="container-fluid my-3">
  <div class="container">
    <div class="row py-2 mb-3">
        <div class="col-12">
            <a class="text-muted" [routerLink]="['/', 'account']">Your Account</a>
            <span class="font-xs">>></span>
            <span class="font-weight-bold text-success">Login &amp; Security</span>
        </div>
    </div>
    <div class="row" *ngIf="!loadedFormData">
      <div class="col-12">
        <div class="card mb-0 border-0">
          <div class="card-header p-0 border-0">
            <h2>Login &amp; Security</h2>
          </div>
          <div class="card-block pt-3 pb-0 px-0 mb-10">
            Please wait for sometime...
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="userForm" (submit)="saveUser()" novalidate *ngIf="loadedFormData">
      <div class="animated fadeIn">  
        <div class="row">
          <div class="col-12">
            <div class="card mb-0 border-0">
              <div class="card-header p-0 border-0">
                <h2>Login &amp; Security</h2>
              </div>
              <div class="card-block pt-3 pb-0 px-0">
                <div class="form-group row">
                  <div class="col-sm-6 px-0">
                    <label for="user_first_name" class="col-12 form-control-label">First Name</label>
                    <div class="col-12" [ngClass]="setContainerErrorClass('firstname')">
                      <input type="text" class="form-control" id="user_first_name" formControlName="firstname" 
                        [ngClass]="setInputErrorClass('firstname')" />
                    </div>
                  </div>

                  <div class="col-sm-6 px-0">
                    <label for="user_last_name" class="col-12 form-control-label">Last Name</label>
                    <div class="col-12" [ngClass]="setContainerErrorClass('lastname')">
                      <input type="text" class="form-control" id="user_last_name" formControlName="lastname" 
                        [ngClass]="setInputErrorClass('lastname')" />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="user_email" class="col-12 form-control-label">Email</label>
                  <div class="col-12" [ngClass]="setContainerErrorClass('email')">
                    <input type="email" class="form-control" id="user_email" formControlName="email" 
                      [ngClass]="setInputErrorClass('email')" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-auto px-3 form-control-label">Gender</label>
                  <div class="col">
                    <div class="btn-group">
                      <button type="button" class="btn" (click)="setGender(1)" [ngClass]="setGenderClass(1)">
                        <i class="fa fa-male"></i> Male</button>
                      <button type="button" class="btn" (click)="setGender(2)" [ngClass]="setGenderClass(2)">
                        <i class="fa fa-female"></i> Female</button>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="user_mobile_number" class="col-12 form-control-label">Mobile Number</label>
                  <div class="col-12">
                    <input type="number" class="form-control" id="user_mobile_number" />
                  </div>
                </div>
                <div>
                    <button type="submit" [disabled]="sentData" class="btn btn-outline-green">Update</button>
                    <button type="button" [disabled]="sentData" class="btn btn-outline-green" (click)="openChangePasswordModal()">Change Password</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #changePasswordModal>
  <form [formGroup]="changePasswordForm" (submit)="doChangePassword()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title pull-left"><i class="fa fa-list"></i> Change Password</h4>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label for="currentPassword" class="col-12 form-control-label">Current Password</label>
        <div class="col-12" [ngClass]="setContainerErrorClass('currentPassword')">
          <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" 
            [ngClass]="setInputErrorClass('currentPassword')" />
        </div>
      </div>
      <div class="form-group row">
        <label for="newPassword" class="col-12 form-control-label">New Password</label>
        <div class="col-12" [ngClass]="setContainerErrorClass('newPassword')">
          <input type="password" class="form-control" id="newPassword" formControlName="newPassword" 
            [ngClass]="setInputErrorClass('newPassword')" />
        </div>
      </div>
      <div class="form-group row">
        <label for="confirmation" class="col-12 form-control-label">Confirm Password</label>
        <div class="col-12" [ngClass]="setContainerErrorClass('confirmation')">
          <input type="password" class="form-control" id="confirmation" formControlName="confirmation" 
            [ngClass]="setInputErrorClass('confirmation')" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="modalRef.hide()" [disabled]="sentData" type="button" class="btn btn-secondary">
          Close
      </button>
      <button type="submit" [disabled]="sentData" class="btn btn-outline-green">
          Submit
      </button>
    </div>
  </form>
</ng-template>