<div class="container-fluid p-0">
    <div class="container">
        <div class="row py-2 mb-3">
            <div class="col-12">
                <a class="text-muted" [routerLink]="['/', 'account']">Your Account</a>
                <span class="font-xs">>></span>
                <span class="font-weight-bold text-success">Your Recipes</span>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12">
                <h4>Your Favourite Recipes</h4>
            </div>
        </div>
        <div class="row py-3" *ngIf="loadedselectedRecipes && recipes.length == 0">
            <div class="col-12">
                <div class="card px-3 py-4 text-center">         
                    <div class="card-title my-3">
                        <h5>No Favourite Recipes.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3" *ngIf="!loadedselectedRecipes">
            <div class="col-12">
                <div class="card px-3 py-4 text-center">         
                    <div class="card-title my-3">
                        <h5>Your Favourite Recipes loading...</h5>
                    </div>
                    <div class="card-body">
                        <p>Please wait for sometime...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3" *ngIf="loadedselectedRecipes">
            <div class="col-md-4 col-sm-6 col-12" *ngFor="let recipe of recipes">
                <div class="card bg-light px-0 py-3">
                    <div class="card-title mb-2 px-3">
                        <h5 class="m-0">{{recipe.product.name}} 
                        &nbsp;<i (click)="removeFromFavuorite(recipe.wishlist_item_id)" tooltip="Remove" class="fa fa-times-circle"></i></h5>
                    </div>
                    <div class="card-body row mx-0 font-sm">
                        <div class="col-sm-5 pr-0 pl-1">
                            <div class="text-center">
                                <img class="img-fluid" [src]="backgrounds.recipe" *ngIf="!recipe.product.default_image" />
                                <img class="img-fluid" [src]="recipe.product.default_image" *ngIf="recipe.product.default_image" />
                            </div>
                        </div>
                        <div class="col-sm-7 px-2 my-auto">
                            <div class="row pb-1 text-left">
                                <div class="col-12">Prep time : {{recipe.product.cooking_time}}</div>
                            </div>
                            <div class="mt-2">
                                <i class="fa fa-star color-spl-green" *ngIf="recipe.product.rating_summary >= 20" aria-hidden="true"></i>
                                <i class="fa fa-star color-spl-green" *ngIf="recipe.product.rating_summary >= 40" aria-hidden="true"></i>
                                <i class="fa fa-star color-spl-green" *ngIf="recipe.product.rating_summary >= 60" aria-hidden="true"></i>
                                <i class="fa fa-star color-spl-green" *ngIf="recipe.product.rating_summary >= 80" aria-hidden="true"></i>
                                <i class="fa fa-star color-spl-green" *ngIf="recipe.product.rating_summary >= 100" aria-hidden="true"></i>
                                <i class="fa fa-star" *ngIf="recipe.product.rating_summary < 20" aria-hidden="true"></i>
                                <i class="fa fa-star" *ngIf="recipe.product.rating_summary < 40" aria-hidden="true"></i>
                                <i class="fa fa-star" *ngIf="recipe.product.rating_summary < 60" aria-hidden="true"></i>
                                <i class="fa fa-star" *ngIf="recipe.product.rating_summary < 80" aria-hidden="true"></i>
                                <i class="fa fa-star" *ngIf="recipe.product.rating_summary < 100" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-12 text-center text-success mt-3 px-1">
                            <a href="javascript://" class="text-success" (click)="addToCookbook(recipe.product)">Add to cookbook</a> | 
                            <a class="text-success" [routerLink]="['/', 'menu', recipe.product.url_key]">View</a>
                            <span *ngIf="recipe.product.pdf_upload"> | 
                                <a target="_blank" [href]="globalVariable.BASE_MEDIA + 'recipe-pdf/' + recipe.product.pdf_upload" target="_blank" class="text-success">Download</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-2" *ngIf="loadedCookBooks">
            <div class="col-12">
                <h4 class="m-0">Your Cookbooks</h4>
            </div>
            <div class="col-md-4 col-sm-6 col-12 mt-3" *ngFor="let cookbook of cookbooks">
                <div class="card p-0">
                    <div class="card-title bg-success p-2 m-0">
                        <h5 class="m-0">
                            {{cookbook.title}}
                            &nbsp;<i (click)="removeCookbook(cookbook.id)" tooltip="Remove" class="fa fa-times-circle"></i>
                        </h5>                        
                    </div>
                    <div class="card-body bg-light row mx-0">
                        <div class="col-12 py-4" *ngIf="cookbook.recipe.length == 0">
                            No recipes added!
                        </div>
                        <div class="col-12 p-0 mt-3" *ngFor="let recipe of cookbook.recipe | slice:0:3">
                            <div class="card bg-light border-0 p-0 mb-0">
                                <div class="card-body row mx-0">
                                    <div class="col-sm-4 p-0">
                                        <div class="text-center">
                                            <img class="img-fluid" [src]="recipe.default_image" *ngIf="recipe.default_image" />
                                        </div>
                                    </div>
                                    <div class="col-sm-8 px-2 my-auto">
                                        <div class="row pb-1 text-left">
                                            <div class="col-12"><b class="m-0">{{recipe.name}}</b></div>
                                            <div class="col-12 font-xs">Prep time : {{recipe.cooking_time}}</div>                            
                                            <div class="col-12 font-xs">
                                                <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 20" aria-hidden="true"></i>
                                                <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 40" aria-hidden="true"></i>
                                                <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 60" aria-hidden="true"></i>
                                                <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 80" aria-hidden="true"></i>
                                                <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 100" aria-hidden="true"></i>
                                                <i class="fa fa-star" *ngIf="recipe.rating_summary < 20" aria-hidden="true"></i>
                                                <i class="fa fa-star" *ngIf="recipe.rating_summary < 40" aria-hidden="true"></i>
                                                <i class="fa fa-star" *ngIf="recipe.rating_summary < 60" aria-hidden="true"></i>
                                                <i class="fa fa-star" *ngIf="recipe.rating_summary < 80" aria-hidden="true"></i>
                                                <i class="fa fa-star" *ngIf="recipe.rating_summary < 100" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-12 text-left text-success font-xs">                        
                                                <a class="text-success" (click)="modalViewRef.hide()" [routerLink]="['/', 'menu', recipe.url_key]">View</a>&nbsp;|&nbsp;
                                                <a href="javascript://" class="text-success" (click)="removeRecipeFromCookbook(cookbook, recipe)">Remove</a>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center text-success my-3" *ngIf="cookbook.recipe.length > 0">
                            <a href="javascript://" class="text-success">Send as Gift</a>&nbsp;|&nbsp;
                            <span *ngIf="cookbook.recipe.length > 3">
                                <a href="javascript://" (click)="viewCookbook(cookbook)" class="text-success">View</a>&nbsp;|&nbsp;
                            </span>
                            <a href="javascript://" class="text-success">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 mt-3" (click)="addNewCookbook()">
                <div class="card p-0 pointer" [hoverClass]="'card-success text-white'">
                    <div class="card-body row mx-0">
                        <div class="col-12 text-center my-3 py-3">
                            <h4 class="m-0">Create Cookbook</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addcbmodal>
    <div class="modal-body" *ngIf="showExistingCB">
        <tabset>
            <tab heading="Add to an existing cookbook">
                <div class="row mx-0 mb-1" *ngFor="let cookbook of cookbooks">
                    <div class="col-8">
                        <span>{{cookbook.title}}</span>
                    </div>
                    <div class="col-4">
                        <button (click)="addRecipeToCookBook(cookbook)" type="button" [disabled]="modelDisabled" class="btn btn-outline-green py-0 px-3 rounded-0 mx-2">
                            Add
                        </button>
                    </div>
                </div>
            </tab>
            <tab heading="Make new one" (select)="showCBSubmitButton=true;" (deselect)="showCBSubmitButton=false;">
                <form [formGroup]="cbForm" (submit)="saveCookBook()" novalidate>
                    <div class="row mx-0">
                        <div class="col-12" [ngClass]="setContainerErrorClass(cbForm, 'title')">
                            <alert displayId="popup"></alert>
                            <label>Cookbook Title</label>
                            <input autofocus type="text" class="form-control" formControlName="title" [ngClass]="setInputErrorClass(cbForm, 'title')" />
                        </div>
                    </div>
                </form>
            </tab>
        </tabset>
    </div>
    <div class="modal-body" *ngIf="!showExistingCB">
        <tabset>
            <tab heading="Make new one">
                <form [formGroup]="cbForm" (submit)="saveCookBook()" novalidate>
                    <div class="row mx-0">
                        <div class="col-12" [ngClass]="setContainerErrorClass(cbForm, 'title')">
                            <label>Cookbook Title</label>
                            <input type="text" class="form-control" formControlName="title" [ngClass]="setInputErrorClass(cbForm, 'title')" />
                        </div>
                    </div>
                </form>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button (click)="modalRef.hide()" [disabled]="modelDisabled" type="button" class="btn btn-secondary">
            Close
        </button>
        <button *ngIf="showCBSubmitButton" type="button" (click)="saveCookBook()" [disabled]="modelDisabled" class="btn btn-outline-green">
            Submit
        </button>
    </div>
  </ng-template>
<ng-template #viewcbrecipes>
    <div class="modal-header bg-success text-white">
        <h5 class="m-0">
            {{singleCB.title}}            
        </h5>
    </div>
    <div class="modal-body bg-light">
        <div class="col-12 py-4" *ngIf="singleCB.recipe.length == 0">
            No recipes added!
        </div>
        <div class="row p-0" *ngIf="singleCB.recipe.length > 0">
            <div class="col-12 p-0 mt-3" *ngFor="let recipe of singleCB.recipe">
                <div class="card bg-light border-0 p-0 mb-0">
                    <div class="card-body row mx-0">
                        <div class="col-sm-4 p-0">
                            <div class="text-center">
                                <img class="img-fluid" [src]="recipe.default_image" *ngIf="recipe.default_image" />
                            </div>
                        </div>
                        <div class="col-sm-8 px-2 my-auto">
                            <div class="row pb-1 text-left">
                                <div class="col-12"><b class="m-0">{{recipe.name}}</b></div>
                                <div class="col-12 font-xs">Prep time : {{recipe.cooking_time}}</div>                            
                                <div class="col-12 font-xs">
                                    <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 20" aria-hidden="true"></i>
                                    <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 40" aria-hidden="true"></i>
                                    <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 60" aria-hidden="true"></i>
                                    <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 80" aria-hidden="true"></i>
                                    <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 100" aria-hidden="true"></i>
                                    <i class="fa fa-star" *ngIf="recipe.rating_summary < 20" aria-hidden="true"></i>
                                    <i class="fa fa-star" *ngIf="recipe.rating_summary < 40" aria-hidden="true"></i>
                                    <i class="fa fa-star" *ngIf="recipe.rating_summary < 60" aria-hidden="true"></i>
                                    <i class="fa fa-star" *ngIf="recipe.rating_summary < 80" aria-hidden="true"></i>
                                    <i class="fa fa-star" *ngIf="recipe.rating_summary < 100" aria-hidden="true"></i>
                                </div>
                                <div class="col-12 text-left text-success font-xs">                        
                                    <a class="text-success" (click)="modalViewRef.hide()" [routerLink]="['/', 'menu', recipe.url_key]">View</a>&nbsp;|&nbsp;
                                    <a href="javascript://" class="text-success" (click)="removeRecipeFromCookbook(cookbook, recipe)">Remove</a>
                                </div>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="modalViewRef.hide()" type="button" class="btn btn-secondary">
            Close
        </button>
    </div>
</ng-template>