<div class="container-fluid app flex-row mh-800 align-items-center" [ngStyle]="backgrounds.header">
    <div class="container">
        <div class="row text-center justify-content-center p-2 mt-5">
            <div class="col-sm-12">
                <h1 class="font-wild text-white text-uppercase display-1 mb-5">Cook Well. Eat Well. Live Well.</h1>
                <div>
                    <a [routerLink]="'menu'" class="btn btn-outline-white border-2 text-uppercase">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img [src]="backgrounds.whatfreshbox" class="img-fluid" />
        </div>
        <div class="col-sm-12 col-md-6 text-center px-7 pt-5">
            <div class="p-5">
                <img class="mb-3" [src]="backgrounds.cap" />
                <h1 class="font-special"><span class="color-spl-green">What is</span> fresh BOX?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" [ngStyle]="backgrounds.gray">
    <div class="container py-8">
        <div class="row text-center">
            <div class="col-sm-12 px-5">
                <h1 class="font-special"><span class="color-spl-green">How It</span> Works</h1>
                <h3 class="mt-4 mb-5">Our Chefs Do The Shopping For You</h3>
                <p>every week you get new healthy recipes and all the fresh pre-portioned ingredients delivered straight to your door. say goodbye to long grocery lines, parking lot power struggles and never knowing what to cook. order fresh BOX and get fresh ingredients and creative recipes delivered straight to your door.</p>
            </div>
        </div>
        <div class="row mt-5 text-center font-special">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <figure style="height:120px;">
                    <img src="images/sign-up-icon.png" />                    
                </figure>
                <h5>Sign Up</h5>
                <div><span class="badge badge-default rounded-circle p-2 font-lg">1</span></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <figure style="height:120px;">
                    <img src="images/pick-meal-icon.png" />                    
                </figure>
                <h5>Pick your meal plan</h5>
                <div><span class="badge badge-default rounded-circle p-2 font-lg">2</span></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <figure style="height:120px;">
                    <img src="images/weekly-box-icon.png" />                    
                </figure>
                <h5>Get your weekly box</h5>
                <div><span class="badge badge-default rounded-circle p-2 font-lg">3</span></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <figure style="height:120px;">
                    <img src="images/cook-meal-icon.png" />                    
                </figure>
                <h5>Cook a delicious meal</h5>
                <div><span class="badge badge-default rounded-circle p-2 font-lg">4</span></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-12 col-md-6 text-center px-7 pt-5">
            <div class="p-5">
                <img class="mb-3" [src]="backgrounds.cap" />
                <h1 class="font-special text-uppercase"><span class="color-spl-green">WILLIAM</span> CHEN</h1>
                <h3>Culinery Director</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>        
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" [src]="backgrounds.culinery" />
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8lImCL4qdJI" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<testimonials></testimonials>
<newsletter></newsletter>