<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-list"></i> Reviews
          <div  class="pull-right"><a [routerLink]="'add'" class="btn btn-primary">Add</a></div>
        </div>
        <div class="card-block">
          <form [formGroup]="searchForm">
          <div class="row py-2">
            <label class="col-md-2 col-sm-4">Search : </label>
            <div class="col-md-6 col-sm-8">              
              <input type="text" class="form-control" formControlName="nickname" />
            </div>
          </div>
          </form>

          <div class="row py-2 bg-primary">
            <div class="col-md-3">Reviewer</div>
            <div class="col-md-2">Date</div>
            <div class="col-md-3">Title</div>
            <div class="col-md-2">Rating(%)</div>
            <div class="col-md-2">Status</div>
          </div>

          <div class="row py-2 bg-info" *ngIf="loadingList">
            <div class="col">
              Loading reviews...
            </div>
            <div class="col-auto px-2" *ngIf="!initLoad">
              <button type="button" class="btn btn-danger" (click)="abortSearch()">Abort</button>
            </div>
          </div>
          
          <div class="row py-2 bg-warning" *ngIf="reviews && reviews.length == 0">
            <div class="col">
              No records found.
            </div>
          </div>

          <div class="row py-2" *ngFor="let review of reviews;let odd=odd;" [ngClass]="{'bg-faded': odd}">
            <div class="col-md-2">
              {{review.nickname}}<!--
              <div class="col px-0 btn-group btn-group-sm">
                <a [routerLink]="['edit', review.review_id]" class="btn btn-link pl-0">Edit</a>
                <button type="button" class="btn btn-link px-0" (click)="deleteReview(review.review_id)">Delete</button>
              </div>-->
            </div>
            <div class="col-md-2">{{review.created_at | date}}</div>
            <div class="col-md-3">{{review.title}}</div>
            <div class="col-md-2">
              <span *ngIf="review.ravitng_votes.length > 0">
                {{review.ravitng_votes[0].percent}}
              </span>
            </div>
            <div class="col-md-2">{{review.status_id}}</div>            
          </div>

          <div class="row mt-2" *ngIf="pager && pager.totalPages > 1"><div class="col-md-12">
            <ul class="pagination pull-right">
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(1);">First</a></li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage - 1);">Prev</a></li>
              <li class="page-item active" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(page);">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage + 1);">Next</a></li>
            </ul>
          </div></div>
        </div>
      </div>
    </div>
  </div>
</div>
