<div class="container-fluid flex-row py-10" [ngStyle]="backgrounds.header">
    <div class="container">
        <div class="row text-center p-2">
            <div class="col-sm-12">
                <h1 class="font-wild text-white text-uppercase display-1 mb-5">Menu</h1>
                <h2 class="font-special text-uppercase"><span class="color-spl-green">For The Week Of</span> August 8th 2017</h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="container">
        <div class="row my-3">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-image hide-panel-body">
                        <img class="img-fluid" [src]="backgrounds.recipe">
                    </div>
                    <div class="panel-body">
                        <div class="title">BeefStraganoff</div>
                        <p>Donec sagittis mollis sapien, in laoreet dolor tempus ut.</p>
                        <div class="stars">
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-image hide-panel-body">
                        <img class="img-fluid" [src]="backgrounds.recipe">
                    </div>
                    <div class="panel-body">
                        <div class="title">BeefStraganoff</div>
                        <p>Donec sagittis mollis sapien, in laoreet dolor tempus ut.</p>
                        <div class="stars">
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-image hide-panel-body">
                        <img class="img-fluid" [src]="backgrounds.recipe">
                    </div>
                    <div class="panel-body">
                        <div class="title">BeefStraganoff</div>
                        <p>Donec sagittis mollis sapien, in laoreet dolor tempus ut.</p>
                        <div class="stars">
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" [ngStyle]="backgrounds.gray">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-sm-12 px-5">
                <h1 class="font-special text-uppercase"><span class="color-spl-green">How It</span> Works</h1>
                <h3 class="my-3">Our Chefs Do The Shopping For You</h3>
                <p>Every week you get new healthy recipes and all the fresh pre-portioned ingredients deliveredsstraight to your door. Say goodbye to long gorcery lines, parking lot power struggles,....enjoy fresh BOX two ways! order one for yourself and get fresh ingredients and creative recipes delivered straight to your door.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <img src="http://localhost/html-v1/images/sign-up-icon.png" />
                    <h5>Sign Up</h5>
                    <div><span class="pill">1</span></div>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <img src="http://localhost/html-v1/images/pick-meal-icon.png" />
                    <h5>Pick your meal plan</h5>
                    <div><span class="pill">1</span></div>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <img src="http://localhost/html-v1/images/weekly-box-icon.png" />
                    <h5>Get your weekly box</h5>
                    <div><span class="pill">1</span></div>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <figure>
                    <img src="http://localhost/html-v1/images/cook-meal-icon.png" />
                    <h5>Cook a delicious meal</h5>
                    <div><span class="pill">1</span></div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-12 col-md-6 text-center px-7 pt-5">
            <div class="p-5">
                <img class="mb-3" [src]="backgrounds.cap" />
                <h1 class="font-special text-uppercase"><span class="color-spl-green">WILLIAM</span> CHEN</h1>
                <h3>Culinery Director</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>        
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" [src]="backgrounds.culinery" />
        </div>
    </div>
</div>
<div class="container-fluid p-0" [ngStyle]="backgrounds.testimonials">
    <div class="row">
        <div class="col-sm-12 text-center text-white py-10">
            <h1 class="font-special color-spl-green text-uppercase">testimonials</h1>       
            <blockquote class="my-3">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Vestibulum luctus ante libero, sed finibus quam volutpa"</p>
            </blockquote>
            <div class="my-3">
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>    
            <h6>Shaun Paul, Client</h6>
        </div> 
    </div>
</div>
<div class="container-fluid p-0">
    <div class="container my-5" [ngStyle]="backgrounds.signup">            
        <div class="row">
            <div class="col-sm-12 text-center text-white py-8">
                <h1 class="display-2 font-wild text-uppercase pl-4">Sign up</h1>
                <h5 class="text-uppercase">FOR EXCLUSIVE DEALS</h5>
                <form class="mt-5">
                    <div class="form-row row">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Email" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn">GO</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>