<div class="container-fluid flex-row pt-10 pb-5" [ngStyle]="backgrounds.header">
    <div class="container">
        <div class="row p-2 mt-10">
            <div class="col-12 text-center">
                <h1 class="font-wild text-white text-uppercase display-1 mb-5">Menu</h1>
            </div>
            <div class="col-md-1 col-2 text-left p-0">
                <button (click)="gotToPrevWeek()"  [disabled]="disablePreviousWeek" 
                        class="btn btn-outline-white rounded-circle font-5xl">
                    <i class="fa fa-angle-left"></i></button>
            </div>
            <div class="col-md-10 col-8 p-0 text-center">
                <h2 class="font-special text-uppercase">                    
                    <span class="color-spl-green">For The Week Of</span> 
                    <u class="text-white" *ngIf="selectedWeek">{{selectedWeek.text}}</u>                    
                </h2>
            </div>
            <div class="col-md-1 col-2 text-right p-0">
                <button (click)="gotToNextWeek()"  [disabled]="disableNextWeek"
                        class="btn btn-outline-white rounded-circle font-5xl">
                    <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0" [ngStyle]="backgrounds.gray">
    <div class="container">
        <div class="row py-3" *ngIf="loadedselectedRecipes && recipes.length == 0">
            <div class="col-12">
                <div class="card px-3 py-4 text-center">         
                    <div class="card-title my-3">
                        <h5 class="text-uppercase">No Recipes.</h5>
                    </div>
                    <div class="card-body">
                        <p>Please check after sometime...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3" *ngIf="!loadedselectedRecipes">
            <div class="col-12">
                <div class="card px-3 py-4 text-center">         
                    <div class="card-title my-3">
                        <h5 class="text-uppercase">Recipes loading...</h5>
                    </div>
                    <div class="card-body">
                        <p>Please wait for sometime...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3" *ngIf="loadedselectedRecipes">
            <div class="col-md-4 col-12" *ngFor="let recipe of recipes">
                <div class="card px-3 py-4 text-center">
                    <div class="pointer" (click)="selectRecipe(recipe)">
                        <img class="img-fluid" [src]="backgrounds.recipe" *ngIf="!recipe.default_image" />
                        <img class="img-fluid" [src]="recipe.default_image" *ngIf="recipe.default_image" />
                    </div>
                    <div class="card-title my-3">
                        <h5 (click)="selectRecipe(recipe)" class="pointer text-uppercase">{{recipe.name}}</h5>
                    </div>
                    <div class="card-body" *ngIf="!recipe.showFacts">
                        <p>{{recipe.description}}</p>
                        <div class="my-3">
                            <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 20" aria-hidden="true"></i>
                            <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 40" aria-hidden="true"></i>
                            <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 60" aria-hidden="true"></i>
                            <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 80" aria-hidden="true"></i>
                            <i class="fa fa-star color-spl-green" *ngIf="recipe.rating_summary >= 100" aria-hidden="true"></i>
                            <i class="fa fa-star" *ngIf="recipe.rating_summary < 20" aria-hidden="true"></i>
                            <i class="fa fa-star" *ngIf="recipe.rating_summary < 40" aria-hidden="true"></i>
                            <i class="fa fa-star" *ngIf="recipe.rating_summary < 60" aria-hidden="true"></i>
                            <i class="fa fa-star" *ngIf="recipe.rating_summary < 80" aria-hidden="true"></i>
                            <i class="fa fa-star" *ngIf="recipe.rating_summary < 100" aria-hidden="true"></i>
                        </div>
                        <div>
                            <button type="button" 
                                (click)="recipe.showFacts = 1" 
                                class="btn btn-outline-green border-2 font-special font-lg px-3 rounded-0">Facts</button>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="recipe.showFacts">
                        <div class="row py-2 text-left">
                            <div class="col-7">Created By</div>
                            <div class="col-5">{{recipe.chef_name}}</div>
                        </div>
                        <div class="row py-2 text-left">
                            <div class="col-7">Serving Size</div>
                            <div class="col-5">{{recipe.servings}}</div>
                        </div>
                        <div class="row py-2 text-left">
                            <div class="col-7">Prep &amp; Cook time</div>
                            <div class="col-5">{{recipe.cooking_time}}</div>
                        </div> 
                        <div class="row my-2">
                            <div class="col">
                                <b>Calories</b><br />
                                <span class="font-special color-spl-green">{{recipe.calories}}</span>
                            </div>
                            <div class="col">
                                <b>Protein</b><br />
                                <span class="font-special color-spl-green">{{recipe.protein}}g</span>
                            </div>
                            <div class="col">
                                <b>Carb</b><br />
                                <span class="font-special color-spl-green">{{recipe.carb}}g</span>
                            </div>
                            <div class="col">
                                <b>Fat</b><br />
                                <span class="font-special color-spl-green">{{recipe.fat}}g</span>
                            </div>                    
                        </div>                   
                        <button type="button" (click)="selectRecipe(recipe)" class="btn btn-link">See full details >></button>
                        <div>
                            <a *ngIf="recipe.pdf_upload" 
                                href="{{globalVariable.BASE_MEDIA + 'recipe-pdf/' + recipe.pdf_upload}}" 
                                target="_blank" class="btn btn-outline-green">Download</a>
                            <button type="button" 
                                (click)="recipe.showFacts = 0" 
                                class="btn btn-outline-green">Close</button>
                        </div>
                    </div>
                </div>
                <div class="favourite_star font-2xl" [ngClass]="recipeFavouriteClass(recipe)" *ngIf="islogin">
                    <i class="fa fa-star" (click)="toggleFavourite(recipe)" tooltip="Toggle favourite"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0" [ngStyle]="backgrounds.orders">
    <div class="row py-10 mb-3">        
        <div class="col-sm-12 col-md-5 py-5 text-white text-center">
            <h1 class="font-wild display-1">Orders</h1>
        </div>
        <div class="col-sm-12 col-md-6 text-white text-center px-5 py-3">
            <div class="px-5 py-4">
                <img class="mb-3" [src]="backgrounds.cap" />
                <h5>All orders must be placed by {{currentMenuDays.friday | date : 'EEEE, MMMM d'}} for {{currentMenuDays.tuesday | date : 'EEEE, MMMM d'}}</h5>
                <button [disabled]="!mealMenuProduct.cartItem.quote_id" type="button" class="btn btn-outline-green" (click)="addMealToCart()">Order Now</button>
            </div>
        </div>
    </div>
</div>
<testimonials></testimonials>
<newsletter></newsletter>