<div class="row">
    <div class="col-12 text-center">
        <h2 class="text-uppercase">Your Billing Details</h2>
        <p>This billing address will be printed in order Invoice</p>
    </div>                     
    <div class="col-12">
        <i class="fa pointer" (click)="toogleSameAsBilling()" [ngClass]="{'fa-check-square-o' : sameAddress, 'fa-square-o' : !sameAddress}"></i>&nbsp;
        <span class="pointer" (click)="sameAddress = !sameAddress">Same as my shipping info</span>
    </div>
    <div class="col-12" *ngIf="sameAddress">
        <p>If you want the billing address diffrerent as shipping address, click the above box</p>
    </div>
    <div class="col-12 mt-5" *ngIf="userData && userData.addresses.length > 0 && !sameAddress && !newBillingAddress">
        <div class="row">
            <div class="col-md-4 col-sm-6" *ngFor="let address of userData.addresses; let index = index;">
              <div class="card card-faded" (click)="selectAddress(address)">
                <div class="card-block" [ngClass]="setBillingAddressClass(address, index)">
                  <address>
                    <strong>{{address.firstname}} {{address.lastname}}</strong><br>
                    <span *ngFor="let str of address.street">{{str}}<br *ngIf="str" /></span>
                    <span *ngIf="address.city">{{address.city}}, </span>
                    <span *ngIf="address.region.region">{{address.region.region}}, </span>
                    <span>{{address.country_id}} {{address.postcode}}</span><br />
                    <abbr title="Phone" *ngIf="address.telephone">P:</abbr> {{address.telephone}}
                  </address>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-0" *ngIf="!sameAddress && userData && userData.addresses.length > 0 && !newBillingAddress">
        <button type="button" class="btn btn-outline-green" (click)="addNewAddress()">Add New Address</button>
    </div>
    <div class="col-12 mt-0" *ngIf="!sameAddress && userData && userData.addresses.length > 0 && newBillingAddress">
        <button type="button" class="btn btn-outline-green" (click)="newBillingAddress= false;">Existing Addresses</button>
    </div>
    <div class="col-12 mt-5" #newAddress>
        <form [formGroup]="checkoutAddressForm" (submit)="saveCheckoutAddress()" novalidate *ngIf="!sameAddress && newBillingAddress">
            <div class="form-group row">
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('firstname')">
                    <label for="address_first_name" class="form-control-label">First Name</label>
                    <input type="text" class="form-control rounded-0" id="address_first_name" formControlName="firstname" 
                        [ngClass]="setAddressInputClass('firstname')" />
                </div>
                
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('lastname')">
                    <label for="address_last_name" class="form-control-label">Last Name</label>
                    <input type="text" class="form-control rounded-0" id="address_last_name" formControlName="lastname" 
                        [ngClass]="setAddressInputClass('lastname')" />
                </div>
            </div>
            <div class="form-group row">                        
                <div formArrayName="street" class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('street')">
                    <label for="address_street_0" class="form-control-label">Street Address</label>
                    <input type="text" class="form-control rounded-0" id="address_street_0" formControlName="0" 
                        [ngClass]="setAddressInputClass('street')" />
                </div>
                
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('city')">
                    <label for="address_city" class="form-control-label">City</label>
                    <input type="text" class="form-control rounded-0" id="address_city" formControlName="city" 
                        [ngClass]="setAddressInputClass('city')" />
                </div>
            </div>
            <div class="form-group row">                        
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('postcode')" >
                    <label for="address_region" class="form-control-label">Region</label>
                    <ng-select [allowClear]="true" [multiple]="false"
                        [items]="US_regions" 
                        [active]="getActiveRegion()" 
                        (data)="refreshRegionValue($event)"
                        placeholder="No region selected" *ngIf="US_regions.length > 0">
                    </ng-select>
                </div>
                
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('telephone')">
                    <label for="address_telephone" class="form-control-label">Phone Number</label>
                    <input type="text" class="form-control rounded-0" id="address_telephone" formControlName="telephone" 
                        [ngClass]="setAddressInputClass('telephone')" />
                    <span class="font-sm">We will notify you when the box is delivered</span>
                </div>
            </div>
            <div class="form-group row">                        
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('postcode')">
                    <label for="address_postcode" class="form-control-label">Zip Code</label>
                    <input type="text" class="form-control rounded-0" id="address_postcode" formControlName="postcode" 
                        [ngClass]="setAddressInputClass('postcode')" />
                </div>
            </div>
        </form>
        <div class="form-group row mt-5">
            <div class="col-12"><hr /></div>                        
            <div class="col text-left">
                <button type="button" class="btn btn-outline-green" (click)="goBack()">Back</button>
            </div>
            <div class="col-auto text-right">
                <button type="button" class="btn btn-outline-green" (click)="saveCheckoutAddress()">Continue</button>
            </div>
        </div>
    </div>
</div>