<div class="container-fluid py-5">
    <div class="container">
        <div class="row text-center p-2">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <alert></alert>
            </div>
            <div class="col-12 my-5" *ngIf="!currentStep">
                Please wait for loading details...
            </div>
            <div class="col-12 mb-5" *ngIf="currentStep">
                <div class="mx-auto" style="position: relative;" [ngStyle]="{width: ((steps.length * (35+50)) - 50) + 'px'}">
                    <hr style="position: absolute; top:0;left:0;border: 1px solid #9A9A9A; width: 100%;" />
                    <div *ngFor="let st of steps;let index = index;let last = last;" [hoverClass]="'text-info'" class="float-left pointer"
                            [ngClass]="{'text-success' : st.key === currentStep, 'mr-0' : last, 'bg-light': st.complete}"
                            style="width: 35px; height: 35px; margin-right:50px;">
                        <div class="circle_main" [tooltip]="st.title">
                            <div class="circle_text_container">
                                <div class="circle_text">
                                    {{index + 1}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:left;"></div>
                </div>
            </div> 
            <div class="col-12" *ngIf="currentStep == 'login'">
                <checkout-login (back)="goBack($event)" (next)="goNext($event)"></checkout-login>
            </div>          
            <div class="col-12" *ngIf="currentStep == 'meal'">
                <checkout-meal (back)="goBack($event)" (next)="goNext($event)"></checkout-meal>
            </div>
            <div class="col-12" *ngIf="currentStep == 'address'">
                <checkout-address (back)="goBack($event)" (next)="goNext($event)"></checkout-address>
            </div>
            <div class="col-12" *ngIf="currentStep == 'payment'">
                <checkout-payment (goStep)="goCheckoutStep($event)" (back)="goBack($event)" (next)="goNext($event)"></checkout-payment>
            </div>
            <div class="col-12" *ngIf="currentStep == 'confirm'">
                <checkout-confirm (goStep)="goCheckoutStep($event)" (back)="goBack($event)" (next)="goNext($event)"></checkout-confirm>
            </div>
        </div>
    </div>
</div>
