<form [formGroup]="checkoutPaymentForm" (submit)="saveCheckoutPayment()" novalidate>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-uppercase">Credit Card Info</h2>
        </div>
        
        <div class="col-md-6 mt-5 px-0">
            <div class="mb-5 bg-light" *ngIf="cards.length > 0">
                <div class="row py-2 mx-0 pointer" *ngFor="let card of cards; let odd= odd;" 
                        [ngClass]="{'bg-faded': odd, 'bg-primary': selectedCard && card.entity_id == selectedCard.entity_id}" (click)="selectPaymentCard(card)">
                    <div class="col-12">
                        {{card.details.type}} ending in {{card.details.maskedCC}}<br />
                        {{card.details.expirationDate}}
                    </div>
                </div>
            </div>
            <div class="row py-2 mx-0" *ngIf="cards.length > 0 && !newCard">
                <button class="btn btn-outline-green"(click)="selectedCard=null;newCard=1">New Card</button>
            </div>
            <div class="bg-light p-2" *ngIf="cards.length === 0 || newCard">
                <div class="form-group row">                        
                    <div class="col-12" [ngClass]="setInputDivClass('card_holder_name')">
                        <label for="card_holder_name" class="form-control-label">Card Holder's Name</label>
                        <input type="text" class="form-control rounded-0" id="card_holder_name" formControlName="card_holder_name" 
                            [ngClass]="setInputClass('card_holder_name')" />
                    </div>
                </div>
                <div class="form-group row">                        
                    <div class="col-12" [ngClass]="setInputDivClass('card_number')">
                        <label for="card_number" class="form-control-label">Credit Card Number</label>
                        <input  class="form-control rounded-0" id="card_number" type="tel"  formControlName="card_number"
                            autocomplete="cc-number" ccNumber [ngClass]="setInputClass('card_number')">        
                    </div>
                </div>
                <div class="form-group row px-3">                        
                    <div class="col-auto mr-1" [ngClass]="setInputDivClass('card_month_year')">
                        <label for="card_month_year" class="form-control-label">Expiry Date</label>
                        <input size="5" class="form-control form-control-sm rounded-0" id="card_month_year" type="tel" 
                            autocomplete="cc-exp" ccExp formControlName="card_month_year" [ngClass]="setInputClass('card_month_year')" />
                    </div>
                    <div class="col"></div>
                    <div class="col-auto ml-auto" [ngClass]="setInputDivClass('card_cvv')">
                        <label for="card_cvv" class="form-control-label">CVV</label>
                        <input size="3" class="form-control form-control-sm rounded-0" id="card_cvv" type="tel" 
                            autocomplete="off" ccCVC formControlName="card_cvv" [ngClass]="setInputClass('card_cvv')" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 mt-auto">
            <div class="row mt-5">
                <div class="col">
                    <h6>Delivery on:</h6>
                    <p>{{currentMenuDays.tuesday | date}}</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h6>Delivery Address</h6>
                    <address class="m-0" *ngIf="shippingAddress">
                        <span>{{shippingAddress.firstname}} {{shippingAddress.lastname}}</span><br>
                        <span *ngFor="let str of shippingAddress.street">{{str}}<br *ngIf="str" /></span>
                        <span *ngIf="shippingAddress.city">{{shippingAddress.city}}, </span>
                        <span *ngIf="shippingAddress.region.region">{{shippingAddress.region.region}}, </span>
                        <span>{{shippingAddress.country_id}} {{shippingAddress.postcode}}</span><br />
                        <abbr title="Phone" *ngIf="shippingAddress.telephone">P:</abbr> {{shippingAddress.telephone}}
                    </address>
                </div>
                <div class="col-auto mt-auto">
                    <button (click)="goCheckoutStep('address')" type="button" class="btn btn-secondary bg-light pl-4 pr-3 border-top-0 border-bottom-0 border-right-0 text-success">Edit</button>
                </div>
            </div>
    
            <div class="row mt-5">
                <div class="col">
                    <h6>Billing Address</h6>
                    <address class="m-0" *ngIf="billingAddress">
                        <span>{{billingAddress.firstname}} {{billingAddress.lastname}}</span><br>
                        <span *ngFor="let str of billingAddress.street">{{str}}<br *ngIf="str" /></span>
                        <span *ngIf="billingAddress.city">{{shippingAddress.city}}, </span>
                        <span *ngIf="billingAddress.region.region">{{billingAddress.region.region}}, </span>
                        <span>{{billingAddress.country_id}} {{billingAddress.postcode}}</span><br />
                        <abbr title="Phone" *ngIf="billingAddress.telephone">P:</abbr> {{billingAddress.telephone}}
                    </address>
                </div>
                <div class="col-auto mt-auto">
                    <button (click)="goCheckoutStep('address')" type="button" class="btn btn-secondary bg-light pl-4 pr-3 border-top-0 border-bottom-0 border-right-0 text-success">Edit</button>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <hr />
            <div class="form-group row">
                <div class="col text-left">
                    <button type="button" [disabled]="loading" class="btn btn-outline-green" (click)="goBack()">Back</button>
                </div>
                <div class="col-auto text-right">
                    <button type="submit" class="btn btn-outline-green" *ngIf="!loading">Continue</button>
                    <button type="button" class="btn btn-outline-green" disabled *ngIf="loading">Loading...</button>
                </div>
            </div>
        </div>
    </div>
</form> 
