<div class="row">
    <div class="col-12 text-center">
        <h2 class="text-uppercase">Your Shipping Details</h2>
        <p>Free shipping anywhere on Oahu and $8 for outter islands</p>
    </div>
    <div class="col-12 mt-5" *ngIf="userAddress.length > 0">
        <div class="row">
            <div class="col-md-4 col-sm-6" *ngFor="let address of userAddress; let index = index;">
              <div class="card card-faded" (click)="newShippingAddress= false; selectedShippingAddress=address;">
                <div class="card-block" [ngClass]="setAddressClass(address, index)">
                  <address>
                    <strong>{{address.firstname}} {{address.lastname}}</strong><br>
                    <span *ngFor="let str of address.street">{{str}}<br *ngIf="str" /></span>
                    <span *ngIf="address.city">{{address.city}}, </span>
                    <span *ngIf="address.region.region">{{address.region.region}}, </span>
                    <span>{{address.country_id}} {{address.postcode}}</span><br />
                    <abbr title="Phone" *ngIf="address.telephone">P:</abbr> {{address.telephone}}
                  </address>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-0 px-0" *ngIf="userAddress.length > 0">
        <button type="button" class="btn btn-outline-green" (click)="selectedShippingAddress = null; newShippingAddress= true;">Add New Address</button>
    </div>
    <div class="col-12 mt-5">
        <form [formGroup]="checkoutAddressForm" (submit)="saveCheckoutAddress()" novalidate>
            <div class="form-group row" formGroupName='shipping_address' *ngIf="newShippingAddress">                        
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('firstname', 'shipping_address')">
                    <label for="address_first_name" class="form-control-label">First Name</label>
                    <input type="text" class="form-control rounded-0" id="address_first_name" formControlName="firstname" 
                        [ngClass]="setAddressInputClass('firstname', 'shipping_address')" />
                </div>
                
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('lastname', 'shipping_address')">
                    <label for="address_last_name" class="form-control-label">Last Name</label>
                    <input type="text" class="form-control rounded-0" id="address_last_name" formControlName="lastname" 
                        [ngClass]="setAddressInputClass('lastname', 'shipping_address')" />
                </div>
            </div>
            <div class="form-group row" formGroupName='shipping_address' *ngIf="newShippingAddress">                        
                <div formArrayName="street" class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('street', 'shipping_address')">
                    <label for="address_street_0" class="form-control-label">Street Address</label>
                    <input type="text" class="form-control rounded-0" id="address_street_0" formControlName="0" 
                        [ngClass]="setAddressInputClass('street', 'shipping_address')" />
                </div>
                
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('city', 'shipping_address')">
                    <label for="address_city" class="form-control-label">City</label>
                    <input type="text" class="form-control rounded-0" id="address_city" formControlName="city" 
                        [ngClass]="setAddressInputClass('city', 'shipping_address')" />
                </div>
            </div>
            <div class="form-group row" formGroupName='shipping_address' *ngIf="newShippingAddress">                        
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('postcode', 'shipping_address')" >
                    <label for="address_region" class="form-control-label">Region</label>
                    <ng-select [allowClear]="true" [multiple]="false"
                        [items]="US_regions" 
                        [active]="getActiveRegion('shipping_address')" 
                        (data)="refreshRegionValue('shipping_address', $event)"
                        placeholder="No region selected" *ngIf="US_regions.length > 0">
                    </ng-select>
                </div>
                
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('telephone', 'shipping_address')">
                    <label for="address_telephone" class="form-control-label">Phone Number</label>
                    <input type="text" class="form-control rounded-0" id="address_telephone" formControlName="telephone" 
                        [ngClass]="setAddressInputClass('telephone', 'shipping_address')" />
                    <span class="font-sm">We will notify you when the box is delivered</span>
                </div>
            </div>
            <div class="form-group row" formGroupName='shipping_address' *ngIf="newShippingAddress">                        
                <div class="col-md-6 col-sm-12" [ngClass]="setAddressDivClass('postcode', 'shipping_address')">
                    <label for="address_postcode" class="form-control-label">Zip Code</label>
                    <input type="text" class="form-control rounded-0" id="address_postcode" formControlName="postcode" 
                        [ngClass]="setAddressInputClass('postcode', 'shipping_address')" />
                </div>
            </div>
            <!--<div class="form-group row">                        
                <div class="col-12">
                    <i class="fa pointer" (click)="sameAddress = !sameAddress" [ngClass]="{'fa-check-square-o' : sameAddress, 'fa-square-o' : !sameAddress}"></i>&nbsp;
                    <span class="pointer" (click)="sameAddress = !sameAddress">Use this as my bill info</span>
                </div>
            </div>-->
            <div class="form-group row mt-5">
                <div class="col-12"><hr /></div>                        
                <div class="col text-left">
                    <button type="button" [disabled]="loading" class="btn btn-outline-green" (click)="goBack()">Back</button>
                </div>
                <div class="col-auto text-right">
                    <button type="submit" class="btn btn-outline-green" *ngIf="!loading" >Continue</button>
                    <button type="button" class="btn btn-outline-green" disabled *ngIf="loading" >Loading...</button>
                </div>
            </div>
        </form>
    </div>
</div>