<div class="container-fluid flex-row pt-10 pb-5" [ngStyle]="backgrounds.header">
    <div class="container">
        <div class="row p-2 mt-10">
            <div class="col-12 text-center text-white">
                <h1 class="font-wild display-1">Share the Love</h1>
                <h3 class="text-uppercase">Give the gift of freshness</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container py-8">
        <div class="row text-center">
            <div class="col-sm-12 px-md-8">
                <h2 class="font-special">COOK WELL, <span class="color-spl-green">EAT WELL,</span> LIVE WELL</h2>
                <p>every week you get new healthy recipes and all the fresh pre-portioned ingredients delivered straight to your door. say goodbye to long grocery lines, parking lot power struggles and never knowing what to cook. order fresh BOX and get fresh ingredients and creative recipes delivered straight to your door.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 mt-3">
                <a class="btn btn-outline-green rounded-0 mr-md-8 mr-sm-3 mt-2" [routerLink]="['/', 'gift', 'product']">GIVE A GIFT</a>
                <a class="btn btn-outline-green rounded-0 mt-2" [routerLink]="['/', 'gift', 'product']">REDEEM A GIFT</a>
            </div>
        </div>
    </div>
</div>
<testimonials></testimonials>
<newsletter></newsletter>