<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-list"></i> Recipes
        </div>
        <div class="card-block">
          <div class="row py-2">
            <div class="col-md-3">Receipe</div>
            <div class="col-md-3">Serving Size</div>
            <div class="col-md-3">Cook Time</div>
            <div class="col-md-3">Created By</div>
          </div>

          <div class="row py-2">
            <div class="col-md-3">Receipe</div>
            <div class="col-md-3">Serving Size</div>
            <div class="col-md-3">Cook Time</div>
            <div class="col-md-3">Created By</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
