<form [formGroup]="loginForm" (submit)="login()">
  <h1 class="text-center">Login Info</h1>
  <div class="mb-3 px-2">    
    <label class="font-xl">Email</label>
    <input type="text" class="form-control py-3" formControlName="username" />
  </div>
  <div class="mb-4 px-2">
    <label class="font-xl">Password</label>
    <input type="password" class="form-control py-3" formControlName="password" />
  </div>
  <div class="row">
    <div class="col-12">
      <button [disabled]="loading" type="submit" class="btn btn-success px-4 w-100 font-3xl">
        LOG IN</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right px-0">
      <button [disabled]="loading" type="button" class="btn btn-link px-4" (click)="goToForgetPass()">Forgot password?</button>
    </div>
  </div>
</form>
