<form [formGroup]="registerForm" (submit)="register()">
  <h1 class="text-center">Registration</h1>
  <div class="mb-2" [ngClass]="setContainerErrorClass('email')">    
    <label class="font-xl">Email<i tooltip="required" class="text-danger">*</i></label>
    <input type="text" class="form-control py-3" formControlName="email" [ngClass]="setInputErrorClass('email')" />
  </div>
  <div class="mb-2" [ngClass]="setContainerErrorClass('firstname')">    
    <label class="font-xl">First Name<i tooltip="required" class="text-danger">*</i></label>
    <input type="text" class="form-control py-3" formControlName="firstname" [ngClass]="setInputErrorClass('firstname')" />
  </div>
  <div class="mb-2" [ngClass]="setContainerErrorClass('lastname')">    
    <label class="font-xl">Last Name<i tooltip="required" class="text-danger">*</i></label>
    <input type="text" class="form-control py-3" formControlName="lastname" [ngClass]="setInputErrorClass('lastname')" />
  </div>
  <div class="mb-1" [ngClass]="setContainerErrorClass('password')">
    <label class="font-xl">Password<i tooltip="required" class="text-danger">*</i></label>
    <input type="password" class="form-control py-3" formControlName="password" [ngClass]="setInputErrorClass('password')" />
    <p class="font-xs p-1 mt-1 mb-0"><i class="fa fa-info-circle"></i>**Your password must be 8-20 characters long, contain letters, numbers and special characters, and must not contain spaces or emoji.</p>
  </div>
  <div class="mb-2" [ngClass]="setContainerErrorClass('confirmation')">
    <label class="font-xl">Confirm Password<i tooltip="required" class="text-danger">*</i></label>
    <input type="password" class="form-control py-3" formControlName="confirmation" [ngClass]="setInputErrorClass('confirmation')" />
  </div>
  <div class="row">
    <div class="col-12">
      <button [disabled]="loading" type="submit" class="btn btn-success px-4 w-100 font-3xl">
        REGISTER</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right px-0">
      <button [disabled]="loading" type="button" class="btn btn-link px-4" (click)="goToLogin()">Already member? go to login</button>
    </div>
  </div>
</form>
