<form [formGroup]="resetForm" (submit)="resetPassword()">
  <h1 class="text-center">Reset Password</h1>
  <div class="mb-3" [ngClass]="setContainerErrorClass('new_password')">    
    <label class="font-xl">New Password</label>
    <input type="password" class="form-control" formControlName="new_password" [ngClass]="setInputErrorClass('new_password')" />
    <p class="font-xs p-1 mt-1 mb-0"><i class="fa fa-info-circle"></i>**Your password must be 8-20 characters long, contain letters, numbers and special characters, and must not contain spaces or emoji.</p>
    <div *ngIf="submitted && resetForm.controls['new_password'].invalid && resetForm.controls['new_password'].errors?.required" class="alert alert-danger px-2 py-1 mt-1 mb-0 font-sm">
      Password is required!
    </div>
    <div *ngIf="submitted && resetForm.controls['new_password'].invalid && resetForm.controls['new_password'].errors?.pattern" class="alert alert-danger px-2 py-1 mt-1 mb-0 font-sm">
      Password is not valid pattern!
    </div>
  </div>
  <div class="mb-3" [ngClass]="setContainerErrorClass('confirmation')">    
    <label class="font-xl">Cofirmation Password</label>
    <input type="password" class="form-control" formControlName="confirmation" [ngClass]="setInputErrorClass('confirmation')" />
    <div *ngIf="submitted && resetForm.controls['confirmation'].invalid && resetForm.controls['confirmation'].errors?.required" class="alert alert-danger px-2 py-1 mt-1 mb-0 font-sm">
      Confirmation password is required!
    </div>
    <div *ngIf="submitted && !resetForm.controls['confirmation'].errors?.required && resetForm.errors?.notSame" class="alert alert-danger px-2 py-1 mt-1 mb-0 font-sm">
      Passwords are not match!
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button [disabled]="loading" type="submit" class="btn btn-success px-4 w-100 font-3xl">Submit</button>
    </div>
    <div class="col-12 text-right px-0">
      <button [disabled]="loading" type="button" class="btn btn-link px-4" (click)="goToLogin()">Go to login</button>
    </div>
  </div>
</form>
