@font-face {
    font-family: 'MuseoSans_500';
    src: url('fonts/MuseoSans_500.eot');
    src: url('fonts/MuseoSans_500.eot') format('embedded-opentype'),
         url('fonts/MuseoSans_500.woff2') format('woff2'),
         url('fonts/MuseoSans_500.woff') format('woff'),
         url('fonts/MuseoSans_500.ttf') format('truetype'),
         url('fonts/MuseoSans_500.svg#MuseoSans_500') format('svg');
}

   
@font-face {
  font-family: 'WildSpiritAlt';
  src: url('fonts/WildSpiritAlt.eot?#iefix') format('embedded-opentype'),
	  url('fonts/WildSpiritAlt.otf')  format('opentype'),
	  url('fonts/WildSpiritAlt.woff') format('woff'),
	  url('fonts/WildSpiritAlt.ttf')  format('truetype'),
	  url('fonts/WildSpiritAlt.svg#WildSpiritAlt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'AvenirRoman';
    src: url('fonts/AvenirRoman.eot');
    src: url('fonts/AvenirRoman.eot') format('embedded-opentype'),
         url('fonts/AvenirRoman.woff2') format('woff2'),
         url('fonts/AvenirRoman.woff') format('woff'),
         url('fonts/AvenirRoman.ttf') format('truetype'),
         url('fonts/AvenirRoman.svg#AvenirRoman') format('svg');
}

.container-fluid {
    max-width: 1900px;
}

@include media-breakpoint-down(sm) {
    .container {
        width: 100%;
    }
}

.app {
    min-height: 0px;
    max-height: 800px;
    height: 100vh;
}

body {
    font-size: 1rem;
    font-family: 'AvenirRoman', sans-serif;
    background-color: #FFFFFF;
}

.bg-light {
    background-color: #FAFAFA;
}

.overlay_loading {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #efefef;
    opacity: 0.6;
}

.font-special {
    font-family: 'MuseoSans_500', sans-serif;
}

.text-black {
    color: #000000 !important;
} 

.color-spl-green {
    color: #7BCA0C;
}

.font-wild {
    font-family: 'WildSpiritAlt', sans-serif;
    letter-spacing: 0.7rem;
}

.overlay_loading {
    opacity: 0.6;
}

.btn-outline-white {
    font-weight: 300;
    @include button-outline-variant(#FFFFFF, #000000);
    @include button-size(0.5rem, 2rem, 1.2rem, 5);    
}

.btn-outline-green {
    font-weight: 300;
    @include button-outline-variant(#7BCA0C, #FFFFFF);
    @include button-size(0.5rem, 2rem, 1.2rem, 5);    
}

.border-top {
    border-top: 1px solid #000000;
}
.border-1 {
    border-width: 1px;
}
.border-2 {
    border-width: 2px;
}

.scrolled-down, .sidebar-mobile-show {
    .app-header .navbar {
        margin-top: 0;  
        background-color: rgba(0,0,0,0.5);      
    }
    .sidebar {
        .sidebar-nav {
            margin-top: $navbar-height + 20px;
        }
    }
}
.sidebar {
    .sidebar-nav {
        margin-top: $navbar-height + 50px;
    }
}
.app-header .navbar {
    margin-top: 1rem;
    .nav-link {
        color: $white;
        text-transform: uppercase;

        @include hover-focus {
            color: $brand-success;
        }

        &.disabled {
            color: $nav-disabled-link-color;
            background-color: transparent;
            border-color: transparent;
        }
    }   

    .nav-item.active .nav-link,
    .nav-item.show .nav-link {
        color: $brand-success;
    }
}
.white-header:not(.scrolled-down) {
    .navbar-brand {
        background-image: $navbar-brand-logo-alt;
    }
    .app-header .navbar .nav-link, .app-header .navbar .dropdown-toggle {
        color:$gray-dark;
    }
    .app-header .navbar .nav-link:focus, 
    .app-header .navbar .dropdown-toggle:focus, 
    .app-header .navbar .nav-link:hover, 
    .app-header .navbar .dropdown-toggle:hover {
        color:$brand-success;
    }
}
.panel-open .head-green {
    .card-header {
        background-color:$brand-success;
        color:$white;
    }
}

@include media-breakpoint-down(md) {
    .app-header {        
        .navbar-brand {
          width: $navbar-brand-width !important;
          margin: 0 !important;
        }
    }
}
@include media-breakpoint-down(sm) {
    .app-header {    
        .navbar-toggler {
          position: absolute;
          top: 0;
          left: 0;
          width: 70px;
          height: inherit;
        }
    
        .navbar-brand {
          width: 100% !important;
          margin: 0 auto !important;
        }
    }
}

.favourite_star {
    position: absolute;
    top: 10px;
    right: 25px;
}

.pointer {
    cursor: pointer;
} 

input, select, textarea {
    border: 1px solid $gray-dark !important;
}

.text-success.circle_main, .text-success .circle_main {
    color: $brand-success;
    border : 1px solid $brand-success;
}
.text-info.circle_main, .text-info .circle_main {
    color: $brand-info;
    border : 1px solid $brand-info;
}

.bg-light.circle_main, .bg-light .circle_main {
    color: #222222;
    border : 1px solid $gray-light;
    background-color: #FAFAFA;
}
.bg-green.circle_main, .bg-green .circle_main {
    color: $white;
    border : 1px solid $brand-success;
    background-color: $brand-success;
}
.bg-dark.circle_main, .bg-dark .circle_main {
    color: $white;
    border : 1px solid $gray-light;
    background-color: $gray-dark;
}
.bg-gray.circle_main, .bg-gray .circle_main {
    color: $white;
    border : 1px solid $gray-dark;
    background-color: $gray;
}
/* Circle Main draws the actual circle */
.circle_main
{
	width : 100%;
	height : 100%;
    border-radius : 50%;
    color: $gray-light;
	border : 1px solid $gray-light;	/* can alter thickness and colour of circle on this line */
	margin : 0;
    padding : 0;
    position: relative;
    z-index: 2;
    background: #FFFFFF;
}

/* Circle Text Container - constrains text area to within the circle */
.circle_text_container
{
	/* area constraints */
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;

	/* some position nudging to center the text area */
	position : relative;
	left : 15%;
	top : 15%;
	
	/* preserve 3d prevents blurring sometimes caused by the text centering in the next class */
	transform-style : preserve-3d;
	
	/*border : 1px solid green;*/
}

/* Circle Text - the appearance of the text within the circle plus vertical centering */
.circle_text
{
    word-wrap: break-word;
	text-align : center;
	
	/* vertical centering technique */
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}
