// Here you can add other styles
body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.card {
    opacity: 0.9;
}