<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Freshbox\Cookbook\Api\Data\BookInterface" type="Freshbox\Cookbook\Model\Book" />
    <preference for="Freshbox\Cookbook\Api\BookRepositoryInterface" type="Freshbox\Cookbook\Model\BookRepository" />
	<preference for="Freshbox\Cookbook\Api\Data\BookrecipeInterface" type="Freshbox\Cookbook\Model\Bookrecipe" />
    <preference for="Freshbox\Cookbook\Api\BookrecipeRepositoryInterface" type="Freshbox\Cookbook\Model\BookrecipeRepository" />
	<!--<type name="Magento\Quote\Model\QuoteRepository">
        <plugin name="QuoteRepositoryRestPim" type="Freshbox\Cookbook\Model\QuoteRepository" />
   </type>-->
</config>
