<div class="container"> 
  <div class="row py-2 mb-3">
    <div class="col-12">
        <a class="text-muted" [routerLink]="['/', 'account']">Your Account</a>
        <span class="font-xs">>></span>
        <span class="font-weight-bold text-success">Your Gift Cards</span>
    </div>
  </div>   
  <div class="row">
    <div class="col-md-12">
      <div class="card border-0">
        <div class="card-header border-0 p-0 mb-2">
          <h4 class="mb-4">Redeemed Gift Cards</h4>
        </div>
        <div class="card-block p-0">
          <div class="row mx-0 py-1">
            <div class="col">
              <b>Wallet Amount:</b> {{walletAmount | currency:'USD':true:'1.2-2'}}              
              <div class="pull-right">
                <a class="btn btn-link" [routerLink]="['/', 'account', 'gift-cards', 'debit']">Ordered Gift cards</a>
              </div>
            </div>
          </div>
          <div class="row mx-0 py-2 bg-info" *ngIf="loadingList">
            <div class="col">
              Loading Gift Cards...
            </div>
          </div>

          <div class="row mx-0 py-2 bg-info" *ngIf="!loadingList && GiftCards.length == 0">
            <div class="col">
              No Gift Cards...
            </div>
          </div>

          <div class="card py-4 m-0" *ngFor="let GiftCard of GiftCards; let odd= odd;">
            <div class="row mx-0">
              <div class="col-md-3 col-sm-6">
                Gift Id: <br class="hidden-xs-down"/># {{GiftCard.order_id}}
              </div>
              <div class="col-md-3 col-sm-6">
                From: <br class="hidden-xs-down"/>{{GiftCard.from_name}}
              </div>
              <div class="col-md-3 col-sm-6">
                Date: <br class="hidden-xs-down"/>{{GiftCard.transaction_at | date}}
              </div>
              <div class="col-md-3 col-sm-6">
                Amount: <br class="hidden-xs-down"/><b>{{GiftCard.amount | currency:'USD':true:'1.2-2'}}</b>
              </div>
            </div>
            <div class="row mx-0 mt-2">
              <div class="col-12">
                Meesage: {{GiftCard.message}}
              </div>
            </div>
          </div>

          <div class="row mt-2"><div class="col-md-12">
            <ul class="pagination pull-right" *ngIf="pager && pager.totalPages > 1">
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(1);">First</a></li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage - 1);">Prev</a></li>
              <li class="page-item active" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(page);">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(pager.currentPage + 1);">Next</a></li>
            </ul>
          </div></div>          
        </div>
      </div>
    </div>
  </div>
</div>